In [28]:
import bs4 
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [44]:
pip install lxml

Requirement already satisfied: lxml in c:\users\marjan\anaconda\lib\site-packages (4.6.1)
Note: you may need to restart the kernel to use updated packages.

In [45]:
pip install html5lib

Requirement already satisfied: html5lib in c:\users\marjan\anaconda\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\marjan\anaconda\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\marjan\anaconda\lib\site-packages (from html5lib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [46]:
from pandas.io.html import read_html

In [47]:
page='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
wikitables=read_html(page, attrs={'class':'wikitable'})

print('extracted {num} wikitables'.format(num=len(wikitables)))

extracted 3 wikitables

In [51]:
wikitables[0]

,No.,Video name,Uploader / artist,Views (billions),Upload date,Note,Unnamed: 6
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.85,"June 17, 2016",[B],NaN
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.19,"January 12, 2017",[C],NaN
2,3.,"""Shape of You""[31]",Ed Sheeran,5.18,"January 30, 2017",[D],NaN
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.94,"April 6, 2015",[E],NaN
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.73,"October 8, 2016",[F],NaN
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41,"January 31, 2012",[G],NaN
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.08,"November 19, 2014",[H],NaN
7,8.,"""Gangnam Style""[38]",Psy,3.96,"July 15, 2012",[I],NaN
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69,"February 27, 2018",NaN,NaN
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.61,"May 2, 2018",NaN,NaN
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,3.50,"March 6, 2014",NaN,NaN
11,12.,"""Sorry""[43]",Justin Bieber,3.40,"October 22, 2015",NaN,NaN
12,13.,"""Sugar""[44]",Maroon 5,3.39,"January 14, 2015",NaN,NaN
13,14.,"""Roar""[45]",Katy Perry,3.27,"September 5, 2013",NaN,NaN
14,15.,"""Counting Stars""[46]",OneRepublic,3.19,"May 31, 2013",NaN,NaN
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,3.18,"October 7, 2014",NaN,NaN
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,3.10,"April 5, 2018",NaN,NaN
17,18.,"""Shake It Off""[49]",Taylor Swift,3.02,"August 18, 2014",NaN,NaN
18,19.,"""Faded""[50]",Alan Walker,2.98,"December 3, 2015",NaN,NaN
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015",NaN,NaN
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014",NaN,NaN
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.96,"February 20, 2014",NaN,NaN
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.95,"May 31, 2018",NaN,NaN
23,24.,"""Let Her Go""[55]",Passenger,2.90,"July 25, 2012",NaN,NaN
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.86,"June 29, 2017",NaN,NaN
25,26.,"""Hello""[57]",Adele,2.78,"October 22, 2015",NaN,NaN
26,27.,"""Waka Waka (This Time for Africa)""[58]",Shakira featuring Freshlyground,2.73,"June 4, 2010",NaN,NaN
27,28.,"""Perfect""[59]",Ed Sheeran,2.73,"November 9, 2017",NaN,NaN
28,29.,"""Blank Space""[60]",Taylor Swift,2.71,"November 10, 2014",NaN,NaN
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.62,"November 18, 2016",NaN,NaN
30,"As of February 4, 2021","As of February 4, 2021","As of February 4, 2021","As of February 4, 2021","As of February 4, 2021","As of February 4, 2021","As of February 4, 2021"

#  Scrape the details team India’s international fixtures from bcci.tv.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException

In [24]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [25]:
url="https://www.bcci.tv/"

In [26]:
driver.get(url)

In [27]:
fix=driver.find_element_by_xpath("//ul[@class='footer-navigation']/li[2]/ul/li[1]/a")
try:
    fix.click()
except ElementNotInteractableException:
    driver.get(fix.get_attribute('href'))

In [28]:
Match_title=[]
Series=[]
Place=[] 
Date=[]

In [29]:
dt=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']")
for i in dt:
    print(i.text)
    Date.append(i.text)

Saturday
13
FEBRUARY
09:30 IST
Wednesday
24
FEBRUARY
14:30 IST
Thursday
04
MARCH
09:30 IST
Friday
12
MARCH
19:00 IST
Sunday
14
MARCH
19:00 IST
Tuesday
16
MARCH
19:00 IST
Thursday
18
MARCH
19:00 IST
Saturday
20
MARCH
19:00 IST
Tuesday
23
MARCH
13:30 IST
Friday
26
MARCH
13:30 IST
Sunday
28
MARCH
13:30 IST
Wednesday
04
AUGUST
15:30 IST
Thursday
12
AUGUST
15:30 IST
Wednesday
25
AUGUST
15:30 IST
Thursday
02
SEPTEMBER
15:30 IST
Friday
10
SEPTEMBER
15:30 IST

In [30]:
tt=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']")
for i in tt:
    print(i.text)
    Match_title.append(i.text)

TEST
INDIA V ENGLAND 2021
TEST
INDIA V ENGLAND 2021
TEST
INDIA V ENGLAND 2021
T20I
INDIA V ENGLAND 2021
T20I
INDIA V ENGLAND 2021
T20I
INDIA V ENGLAND 2021
T20I
INDIA V ENGLAND 2021
T20I
INDIA V ENGLAND 2021
ODI
INDIA V ENGLAND 2021
ODI
INDIA V ENGLAND 2021
ODI
INDIA V ENGLAND 2021
TEST
ENGLAND V INDIA 2021
TEST
ENGLAND V INDIA 2021
TEST
ENGLAND V INDIA 2021
TEST
ENGLAND V INDIA 2021
TEST
ENGLAND V INDIA 2021

In [31]:
sr=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in sr:
    print(i.text)
    Series.append(i.text)

2nd Test
3rd Test
4th Test
1st T20I
2nd T20I
3rd T20I
4th T20I
5th T20I
1st ODI
2nd ODI
3rd ODI
1st Test
2nd Test
3rd Test
4th Test
5th Test

In [32]:
pl=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in pl:
    print(i.text)
    Place.append(i.text)

M. A. Chidambaram Stadium, Chennai
Sardar Patel Stadium, Ahmedabad
Sardar Patel Stadium, Ahmedabad
Sardar Patel Stadium, Ahmedabad
Sardar Patel Stadium, Ahmedabad
Sardar Patel Stadium, Ahmedabad
Sardar Patel Stadium, Ahmedabad
Sardar Patel Stadium, Ahmedabad
Maharashtra Cricket Association Stadium, Pune
Maharashtra Cricket Association Stadium, Pune
Maharashtra Cricket Association Stadium, Pune
Trent Bridge, Nottingham
Lord's, London
Headingley, Leeds
The Oval, London
Old Trafford, Manchester

In [33]:
df=pd.DataFrame({"Title":Match_title[0:10],
                "Date":Date[0:10],
                "Venue":Place[0:10],
                "Series":Series[0:10]
                })

In [34]:
df

,Title,Date,Venue,Series
0,TEST\nINDIA V ENGLAND 2021,Saturday\n13\nFEBRUARY\n09:30 IST,"M. A. Chidambaram Stadium, Chennai",2nd Test
1,TEST\nINDIA V ENGLAND 2021,Wednesday\n24\nFEBRUARY\n14:30 IST,"Sardar Patel Stadium, Ahmedabad",3rd Test
2,TEST\nINDIA V ENGLAND 2021,Thursday\n04\nMARCH\n09:30 IST,"Sardar Patel Stadium, Ahmedabad",4th Test
3,T20I\nINDIA V ENGLAND 2021,Friday\n12\nMARCH\n19:00 IST,"Sardar Patel Stadium, Ahmedabad",1st T20I
4,T20I\nINDIA V ENGLAND 2021,Sunday\n14\nMARCH\n19:00 IST,"Sardar Patel Stadium, Ahmedabad",2nd T20I
5,T20I\nINDIA V ENGLAND 2021,Tuesday\n16\nMARCH\n19:00 IST,"Sardar Patel Stadium, Ahmedabad",3rd T20I
6,T20I\nINDIA V ENGLAND 2021,Thursday\n18\nMARCH\n19:00 IST,"Sardar Patel Stadium, Ahmedabad",4th T20I
7,T20I\nINDIA V ENGLAND 2021,Saturday\n20\nMARCH\n19:00 IST,"Sardar Patel Stadium, Ahmedabad",5th T20I
8,ODI\nINDIA V ENGLAND 2021,Tuesday\n23\nMARCH\n13:30 IST,"Maharashtra Cricket Association Stadium, Pune",1st ODI
9,ODI\nINDIA V ENGLAND 2021,Friday\n26\nMARCH\n13:30 IST,"Maharashtra Cricket Association Stadium, Pune",2nd ODI

In [35]:
driver.close()

# 3. Scrape the details of selenium exception from guru99.com.

In [27]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException

In [27]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [28]:
url="https://www.guru99.com/"

In [29]:
driver.get(url)

In [30]:
sel=driver.find_element_by_xpath("//i[@class='fa fa-code']")
try:
    sel.click()
except ElementNotInteractableException:
    driver.get(sel.get_attribute('href'))

In [31]:
exc=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a/strong")
try:
    exc.click()
except ElementNotInteractableException:
    driver.get(exc.get_attribute('href'))

In [46]:
exceptions=[]

In [47]:
nm=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td")
for i in nm:
    print(i.text)
    exceptions.append(i.text)

Exception name
Description
ElementNotVisibleException
This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.
ElementNotSelectableException
This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.
NoSuchElementException
This Exception occurs if an element could not be found.
NoSuchFrameException
This Exception occurs if the frame target to be switched to does not exist.
NoAlertPresentException
This Exception occurs when you switch to no presented alert.
NoSuchWindowException
This Exception occurs if the window target to be switch does not exist.
StaleElementReferenceException
This Selenium exception occurs happens when the web element is detached from the current DOM.
SessionNotFoundException
The WebDriver is acting after you quit the browser.
TimeoutException
Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.
WebDriverException
This Exception takes place when the WebDriver is acting right after you close the browser.
ConnectionClosedException
This type of Exception takes place when there is a disconnection in the driver.
ElementClickInterceptedException
The command may not be completed as the element receiving the events is concealing the element which was requested clicked.
ElementNotInteractableException
This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.
ErrorInResponseException
This happens while interacting with the Firefox extension or the remote driver server.
ErrorHandler.UnknownServerException
Exception is used as a placeholder in case if the server returns an error without a stack trace.
ImeActivationFailedException
This expectation will occur when IME engine activation has failed.
ImeNotAvailableException
It takes place when IME support is unavailable.
InsecureCertificateException
Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.
InvalidArgumentException
It occurs when an argument does not belong to the expected type.
InvalidCookieDomainException
This happens when you try to add a cookie under a different domain instead of current URL.
InvalidCoordinatesException
This type of Exception matches an interacting operation that is not valid.
InvalidElementStateExceptio
It occurs when command can't be finished when the element is invalid.
InvalidSessionIdException
This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.
InvalidSwitchToTargetException
This occurs when the frame or window target to be switched does not exist.
JavascriptException
This issue occurs while executing JavaScript given by the user.
JsonException
It occurs when you afford to get the session when the session is not created.
NoSuchAttributeException
This kind of Exception occurs when the attribute of an element could not be found.
MoveTargetOutOfBoundsException
It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.
NoSuchContextException
ContextAware does mobile device testing.
NoSuchCookieException
This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.
NotFoundException
This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.
RemoteDriverServerException
This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.
ScreenshotException
It is not possible to capture a screen.
SessionNotCreatedException
It happens when a new session could not be successfully created.
UnableToSetCookieException
This occurs if a driver is unable to set a cookie.
UnexpectedTagNameException
Happens if a support class did not get a web element as expected.
UnhandledAlertException
This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.
UnexpectedAlertPresentException
It occurs when there is the appearance of an unexpected alert.
UnknownMethodException
This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.
UnreachableBrowserException
This Exception occurs only when the browser is not able to be opened or crashed because of some reason.
UnsupportedCommandException
This occurs when remote WebDriver does n't send valid commands as expected.

In [28]:
driver.close()

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [29]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [30]:
url="http://statisticstimes.com/"

In [31]:
driver.get(url)

In [32]:
ec=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
try:
    ec.click()
except ElementNotInteractableException:
    driver.get(ec.get_attribute('href'))

In [33]:
gd=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
try:
    gd.click()
except ElementNotInteractableException:
    driver.get(gd.get_attribute('href'))

In [34]:
Rank=[]
State=[]
GSDP18=[]
GSDP19=[]
Share17=[]
GDPbillion=[]

In [35]:
rn=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[1]")
for i in rn:
    print(i.text)
    Rank.append(i.text)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [36]:
st=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[2]")
for i in st:
    print(i.text)
    State.append(i.text)

Maharashtra
Uttar Pradesh
Tamil Nadu
Karnataka
Gujarat
West Bengal
Rajasthan
Andhra Pradesh
Telangana
Madhya Pradesh
Kerala
Delhi
Haryana
Bihar
Punjab
Odisha
Assam
Chhattisgarh
Jharkhand
Uttarakhand
Jammu & Kashmir
Himachal Pradesh
Goa
Tripura
Chandigarh
Puducherry
Meghalaya
Sikkim
Manipur
Nagaland
Arunachal Pradesh
Mizoram
Andaman & Nicobar Islands
Maharashtra
Uttar Pradesh
Tamil Nadu
Karnataka
Gujarat
West Bengal
Rajasthan
Telangana
Andhra Pradesh
Madhya Pradesh
Kerala
Delhi
Haryana
Bihar
Punjab
Odisha
Assam
Jharkhand
Chhattisgarh
Uttarakhand
Himachal Pradesh
Jammu & Kashmir
Goa
Tripura
Chandigarh
Puducherry
Meghalaya
Manipur
Sikkim
Nagaland
Arunachal Pradesh
Mizoram
Andaman & Nicobar Islands

In [37]:
gs18=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[4]")
for i in gs18:
    print(i.text)
    GSDP18.append(i.text)

2,632,792
1,668,229
1,630,208
1,544,399
1,502,899
1,089,898
942,586
862,957
861,031
809,592
781,653
774,870
734,163
530,363
526,376
492,229
315,881
304,063
297,204
245,895
155,956
153,845
73,170
49,845
42,114
36,656
33,481
28,723
27,869
27,283
24,603
19,520
-
2,332,992
1,491,311
1,465,361
1,409,126
1,322,936
995,502
845,247
782,370
776,140
737,156
707,542
704,529
666,075
486,776
472,506
432,455
282,782
271,990
266,537
221,871
133,303
129,877
66,060
44,835
37,571
33,598
29,544
25,322
25,141
24,534
22,488
17,506
-

In [38]:
gs19=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[3]")
for i in gs19:
    print(i.text)
    GSDP19.append(i.text)

-
1,794,508
1,845,853
1,699,115
-
1,253,832
1,020,989
972,782
969,604
906,672
-
856,112
831,610
611,804
574,760
531,374
-
329,180
328,598
-
-
165,472
-
55,358
-
40,802
36,572
32,496
-
-
-
-
-
-
1,603,083
1,659,210
1,550,297
-
1,150,711
916,014
881,873
875,429
827,019
-
779,647
755,790
562,710
517,521
467,554
-
301,242
288,041
-
143,063
-
-
49,601
-
37,134
32,833
-
28,391
-
-
-
-

In [39]:
sh17=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[5]")
for i in sh17:
    print(i.text)
    Share17.append(i.text)

13.88%
8.79%
8.59%
8.14%
7.92%
5.75%
4.97%
4.55%
4.54%
4.27%
4.12%
4.08%
3.87%
2.80%
2.77%
2.59%
1.67%
1.60%
1.57%
1.30%
0.82%
0.81%
0.39%
0.26%
0.22%
0.19%
0.18%
0.15%
0.15%
0.14%
0.13%
0.10%
-
13.90%
8.88%
8.73%
8.39%
7.88%
5.93%
5.03%
4.66%
4.62%
4.39%
4.21%
4.20%
3.97%
2.90%
2.81%
2.58%
1.68%
1.62%
1.59%
1.32%
0.79%
0.77%
0.39%
0.27%
0.22%
0.20%
0.18%
0.15%
0.15%
0.15%
0.13%
0.10%
-

In [40]:
gdp=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[6]")
for i in gdp:
    print(i.text)
    GDPbillion.append(i.text)

398.145
252.278
246.529
233.552
227.276
164.820
142.543
130.501
130.210
122.431
118.206
117.180
111.024
80.204
79.601
74.437
47.769
45.982
44.945
37.186
23.584
23.265
11.065
7.538
6.369
5.543
5.063
4.344
4.214
4.126
3.721
2.952
-
-
1,039,180
1,167,776
1,085,599
-
713,376
630,693
594,806
595,605
496,798
-
568,265
514,983
377,276
374,015
351,661
-
218,232
210,837
-
107,171
-
-
35,821
-
23,591
23,564
-
17,060
-
-
-
-

In [41]:
df=pd.DataFrame({"Rank":Rank[0:33],
                "State":State[0:33],
                "GSDP(18-19)":GSDP18[0:33],
                "GSDP(17-18)":GSDP19[0:33],
                 "Share(2017)":Share17[0:33],
                 "GDP($ billion)":GDPbillion[0:33]
                })

In [42]:
df

,Rank,State,GSDP(18-19),GSDP(17-18),Share(2017),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.88%,398.145
1,2,Uttar Pradesh,"1,668,229","1,794,508",8.79%,252.278
2,3,Tamil Nadu,"1,630,208","1,845,853",8.59%,246.529
3,4,Karnataka,"1,544,399","1,699,115",8.14%,233.552
4,5,Gujarat,"1,502,899",-,7.92%,227.276
5,6,West Bengal,"1,089,898","1,253,832",5.75%,164.820
6,7,Rajasthan,"942,586","1,020,989",4.97%,142.543
7,8,Andhra Pradesh,"862,957","972,782",4.55%,130.501
8,9,Telangana,"861,031","969,604",4.54%,130.210
9,10,Madhya Pradesh,"809,592","906,672",4.27%,122.431
10,11,Kerala,"781,653",-,4.12%,118.206
11,12,Delhi,"774,870","856,112",4.08%,117.180
12,13,Haryana,"734,163","831,610",3.87%,111.024
13,14,Bihar,"530,363","611,804",2.80%,80.204
14,15,Punjab,"526,376","574,760",2.77%,79.601
15,16,Odisha,"492,229","531,374",2.59%,74.437
16,17,Assam,"315,881",-,1.67%,47.769
17,18,Chhattisgarh,"304,063","329,180",1.60%,45.982
18,19,Jharkhand,"297,204","328,598",1.57%,44.945
19,20,Uttarakhand,"245,895",-,1.30%,37.186
20,21,Jammu & Kashmir,"155,956",-,0.82%,23.584
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.265
22,23,Goa,"73,170",-,0.39%,11.065
23,24,Tripura,"49,845","55,358",0.26%,7.538
24,25,Chandigarh,"42,114",-,0.22%,6.369
25,26,Puducherry,"36,656","40,802",0.19%,5.543
26,27,Meghalaya,"33,481","36,572",0.18%,5.063
27,28,Sikkim,"28,723","32,496",0.15%,4.344
28,29,Manipur,"27,869",-,0.15%,4.214
29,30,Nagaland,"27,283",-,0.14%,4.126
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.721
31,32,Mizoram,"19,520",-,0.10%,2.952
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.

In [43]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [44]:
url="https://github.com/"

In [45]:
driver.get(url)

In [47]:
ex=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    ex.click()
except ElementNotInteractableException:
    driver.get(ex.get_attribute('href'))

In [48]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [49]:
tt=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in tt:
    print(i.text)
    Repository_title.append(i.text)

JonnyBurger / remotion-trailer
iam-abbas / Reddit-Stock-Trends
hashicorp / vault
conwnet / github1s
Azure / azure-quickstart-templates
Kaiyiwing / qwerty-learner
JonnyBurger / remotion
nemanjarogic / DesignPatternsLibrary
tgbot-collection / YYeTsBot
aws / amazon-sagemaker-examples
jomjol / AI-on-the-edge-device
goldbergyoni / nodebestpractices
streamich / react-use
ryanmcdermott / clean-code-javascript
charliegerard / gaze-detection
mozilla-mobile / firefox-ios
dkhamsing / open-source-ios-apps
justjavac / 1s
nandorojo / moti
sveltejs / svelte
googlesamples / mlkit
ansible / awx
reed-hong / awesome-libra
abuanwar072 / Flutter-responsive-email-ui---Mobile-Tablet-and-Web
Lolliedieb / lolMiner-releases

In [50]:
dd=driver.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")
for i in dd:
    print(i.text)
    Repository_description.append(i.text)

A video written in React
Fetch currently trending stocks on Reddit
A tool for secrets management, encryption as a service, and privileged access management
One second to read GitHub code with VS Code.
Azure Quickstart Templates
为键盘工作者设计的单词记忆与英语肌肉记忆锻炼软件 / Words learning and English muscle memory training software designed for keyboard workers
🎥 Create videos programmatically in React
A comprehensive design patterns library implemented in C#, which covers various design patterns from the most commonly used ones to the lesser-known ones. Get familiar with and learn design patterns through moderately realistic examples.
🎬 人人影视bot，完全对接人人影视全部无删减资源
Example notebooks that show how to apply machine learning, deep learning and reinforcement learning in Amazon SageMaker
✅ The Node.js best practices list (February 2021)
React Hooks — 👍
🛁 Clean Code concepts adapted for JavaScript
👀 Use machine learning in JavaScript to detect eye movements and build gaze-controlled experiences.
Firefox for iOS
📱 Collaborative List of Open-Source iOS Apps
天若有情天亦老，我为网站加一秒
🐼 The universal React Native animation library, powered by Reanimated 2.
Cybernetically enhanced web apps
A collection of sample apps to demonstrate how to use Google's ML Kit APIs on Android and iOS
AWX Project
A Curated List of Awesome Facebook Libra Resources
We redesign the outlook app also make it responsive so that you can run it everywhere on your phone, tab, or web.

In [51]:
cc=driver.find_elements_by_xpath("//div[@class='f6 text-gray mt-2']/a[2]")
for i in cc:
    print(i.text)
    Contributors_count.append(i.text)

36
134
2,787
152
12,210
85
106
16
319
3,739
43
5,816
1,364
5,544
12
2,336
4,247
7
14
2,045
710
2,323
155
99
61

In [52]:
ll=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in ll:
    print(i.text)
    Language_used.append(i.text)

TypeScript
Python
Go
TypeScript
PowerShell
TypeScript
TypeScript
C#
Python
Jupyter Notebook
C++
JavaScript
TypeScript
JavaScript
JavaScript
Swift
Swift
TypeScript
TypeScript
Java
Python
Dart

In [54]:
df=pd.DataFrame({"Repository title":Repository_title[0:15],
                "Repository description":Repository_description[0:15],
                "Contributors count":Contributors_count[0:15],
                "Language used":Language_used[0:15]
                  })

In [55]:
df

,Repository title,Repository description,Contributors count,Language used
0,JonnyBurger / remotion-trailer,A video written in React,36,TypeScript
1,iam-abbas / Reddit-Stock-Trends,Fetch currently trending stocks on Reddit,134,Python
2,hashicorp / vault,"A tool for secrets management, encryption as a...","2,787",Go
3,conwnet / github1s,One second to read GitHub code with VS Code.,152,TypeScript
4,Azure / azure-quickstart-templates,Azure Quickstart Templates,"12,210",PowerShell
5,Kaiyiwing / qwerty-learner,为键盘工作者设计的单词记忆与英语肌肉记忆锻炼软件 / Words learning and ...,85,TypeScript
6,JonnyBurger / remotion,🎥 Create videos programmatically in React,106,TypeScript
7,nemanjarogic / DesignPatternsLibrary,A comprehensive design patterns library implem...,16,C#
8,tgbot-collection / YYeTsBot,🎬 人人影视bot，完全对接人人影视全部无删减资源,319,Python
9,aws / amazon-sagemaker-examples,Example notebooks that show how to apply machi...,"3,739",Jupyter Notebook
10,jomjol / AI-on-the-edge-device,✅ The Node.js best practices list (February 2021),43,C++
11,goldbergyoni / nodebestpractices,React Hooks — 👍,"5,816",JavaScript
12,streamich / react-use,🛁 Clean Code concepts adapted for JavaScript,"1,364",TypeScript
13,ryanmcdermott / clean-code-javascript,👀 Use machine learning in JavaScript to detect...,"5,544",JavaScript
14,charliegerard / gaze-detection,Firefox for iOS,12,JavaScript

In [56]:
driver.close()

# 7. Scrape the details of Data science recruiters from naukri.com.

In [22]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [23]:
url="https://www.naukri.com/data-science-recruiters"

In [24]:
driver.get(url)

In [25]:
Name=[]
Designation=[]
Company=[]
Skills=[]
they_hire_for=[]
Location=[]

In [26]:
nm=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in nm:
    print(i.text)
    Name.append(i.text)

Aakash Harit
shravan Kumar Gaddam
Talent Acquisition Executive
Anik Agrawal
MARSIAN Technologies LLP
subhas patel
Jitendra Singh
Abhishek - Only Analytics Hiring - India and
Institute for Financial Management and Resear
Balu Ramesh
Asif Lucknowi
InstaFinancials
Kalpana Dumpala
Mubarak
Kushal Rastogi
Manisha Yadav
Kapil Devang
Riya Rajesh
Mahesh Babu Channa
Rashmi Bhattacharjee
Faizan Kareem
Rithika dadwal
Azahar Shaikh
Sandhya Khandagale
Shaun Rao
Manas
kumar
Sunil Vedula
Rajat Kumar
Jayanth N
Prateek Kumar
Amit Sharma
Kanan
Shashikant Chaudhary
Brad
Rutuja Pawar
Madhusudhan Sridhar
Ankit Sinha
Gaurav Chouhan
Rashi Kacker
Ashwini
Balaji Kolli
Rajani Nagaraj
ROHIT Kumar
Amir Chowdhury
Shailja Mishra
Sunny Sharma
Sagar Lama
SREEDHAR
Dr. S. Prasanna Devi

In [27]:
ds=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in ds:
    print(i.text)
    Designation.append(i.text)

HR Manager
Company Recruiter
Recruitment Professional
Company Recruiter
Company HR
Founder CEO
Manager- Talent Acquisition
Recruitment Lead Consultant
Programme Manager
HR Administrator
Director
Human Resource
Executive Hiring
Company HR
Company HR
HR Executive
HR Manager
Manager Talent Acquisition
HR Team Lead
HR Head
HR MANAGER
HR Recruiter
Company Recruiter
HR Recruiter
Manager Human Resources
Lead Talent acquisition
Proprietor
CEO
Founder CEO
Project Manager
Head
Consultant
senior technology instructor
HR Recruiter/HR Excutive
Manager, Technical Recruiting
Technical Recruiter
Erp Implementer
Head Analytics
Chief Technical Officer
Sr Product Manager
Director Global Delivery
Co Founder
HR Manager
Architect
Managing Partner
HR Manager
Managing Director - HR
Company HR Manager
Recruitment Consultant
Professor and Head

In [28]:
cm=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in cm:
    print(i.text)
    Company.append(i.text)

Aakash Harit
Data Science Network
shravan Kumar Gaddam
Shore Infotech India Pvt. Ltd
Talent Acquisition Executive
XenonStack
Anik Agrawal
Enerlytics Software Solutions Pvt Ltd
MARSIAN Technologies LLP
MARSIAN Technologies LLP
subhas patel
LibraryXProject
Jitendra Singh
Compunnel Technology India Pvt. Ltd
Abhishek - Only Analytics Hiring - India and
Apidel Technologies Division of Transpower
Institute for Financial Management and Resear
IFMR
Balu Ramesh
Techvantage Systems Pvt Ltd
Asif Lucknowi
Weupskill- Live Wire India
InstaFinancials
CBL Data Science Private Limited
Kalpana Dumpala
Innominds Software
Mubarak
MoneyTap
Kushal Rastogi
QuantMagnum Technologies Pvt. Ltd.
Manisha Yadav
Easi Tax
Kapil Devang
BISP Solutions
Riya Rajesh
Novelworx Digital Solutions
Mahesh Babu Channa
SocialPrachar.com
Rashmi Bhattacharjee
AXESTRACK SOFTWARE SOLUTIONS PRIVATE...
Faizan Kareem
FirstTech Consaltants Pvt.Ltd
Rithika dadwal
Affine Analytics
Azahar Shaikh
NEAL ANALYTICS SERVICES PVT LTD
Sandhya Khandagale
Compumatrice Multimedia Pvt Ltd
Shaun Rao
Exela Technologies
Manas
Autumn Leaf Consulting Services Private...
kumar
trainin
Sunil Vedula
Nanoprecise Sci Corp
Rajat Kumar
R.S Consultancy &amp; Services
Jayanth N
Dollarbird Information Services Pvt, Ltd
Prateek Kumar
Trisect
Amit Sharma
ASCO consulting
Kanan
NY INST
Shashikant Chaudhary
3D India Staffing Research &amp; Consulting...
Brad
O.C. Tanner
Rutuja Pawar
Demand Matrix
Madhusudhan Sridhar
MADHUSUDHAN SRIDHAR
Ankit Sinha
Suntech Global
Gaurav Chouhan
Strategic Consulting Lab
Rashi Kacker
Impel Labs Pvt. Ltd.
Ashwini
MRP Advisers
Balaji Kolli
Saras Solutions India Pvt Ltd
Rajani Nagaraj
WildJasmine
ROHIT Kumar
LNT Private Limited
Amir Chowdhury
Granular.ai
Shailja Mishra
Certybox Pvt.Ltd.
Sunny Sharma
Western Service Providers
Sagar Lama
AdView
SREEDHAR
JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED
Dr. S. Prasanna Devi
SRM Institute of Science and Technology

In [29]:
sk=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in sk:
    print(i.text)
    Skills.append(i.text)

Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional
.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software
Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet
Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws
Data Science, Artificial Intelligence, Machine Learning, Business Analytics
Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL
Python, Data Science, .Net, Java, Big Data, Data Analytics, Business Intelligence, Msbi, Aws, Microsoft Azure, Devops
Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big
Data Science
Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End
Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil
Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript
Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep
Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi
Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human
Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing
Big Data, Hadoop, Data Analytics, Data Science
Data Science
Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager
Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship
Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining
Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop
Data Science, Artificial Intelligence, Machine Learning, Data Analytics
Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring
Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology
Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js
Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data
Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data
Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture
Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience
Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced
Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java
C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++
Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written
Data Science, Software Engineering
Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management
Data Science, Recruitment, Salary
B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview
Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented
Data Science, Node.js, Angularjs
Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql
Data Analysis, Learning, Data Science, Computer Science, Communication Skills
Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata
Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics
Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing
consulting, Education Counseling, Educational Sales, Institutional Sales, pmp, Data Science, Business Development, Revenue Generation, Sales Achievement, new
Software Professionals, Engineering, Technical Management, Financial Management, Human Resource Management, Banking, Google Adwords, Business Analysis, It
Full Stack Developers, Product Manager, Data Science Engineer, Publishers Sales Manager
Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All
Computer Science, Machine Learning, Deep Learning, Natural Language Processing, Computer Vision, Information Retrieval, Artificial Intelligence, Data Mining

In [30]:
lc=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in lc:
    print(i.text)
    Location.append(i.text)

Delhi
Hyderabad / Secunderabad
Chandigarh
Ahmedabad
Pune
UK - (london)
Delhi
Vadodara / Baroda
Chennai
Trivandrum
Indore
Bengaluru / Bangalore
Hyderabad / Secunderabad
Bengaluru / Bangalore
Mumbai
Navi Mumbai
Bhopal
Cochin
Hyderabad / Secunderabad
Delhi
Hyderabad / Secunderabad
Pune
Pune
Pune
Pune
Bengaluru / Bangalore
Bengaluru / Bangalore
Delhi
Mysoru / Mysore
Noida
New Delhi
Chennai
Aligarh
Salt Lake City
Pune
Bengaluru / Bangalore
Mumbai
Indore
Bengaluru / Bangalore
MYSORE
Hyderabad / Secunderabad
Bengaluru / Bangalore
Mumbai
Noida
Mumbai
Bengaluru / Bangalore
Hyderabad / Secunderabad
Chennai

In [31]:
df=pd.DataFrame({"Name":Name[0:15],
                "Company":Company[0:15],
                "Skills/they hired for":Skills[0:15],
                "Location":Location[0:15],
                 "Designation":Designation[0:15]
                  })

In [32]:
df

,Name,Company,Skills/they hired for,Location,Designation
0,Aakash Harit,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi,HR Manager
1,shravan Kumar Gaddam,Data Science Network,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad,Company Recruiter
2,Talent Acquisition Executive,shravan Kumar Gaddam,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh,Recruitment Professional
3,Anik Agrawal,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad,Company Recruiter
4,MARSIAN Technologies LLP,Talent Acquisition Executive,"Data Science, Artificial Intelligence, Machine...",Pune,Company HR
5,subhas patel,XenonStack,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london),Founder CEO
6,Jitendra Singh,Anik Agrawal,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi,Manager- Talent Acquisition
7,Abhishek - Only Analytics Hiring - India and,Enerlytics Software Solutions Pvt Ltd,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda,Recruitment Lead Consultant
8,Institute for Financial Management and Resear,MARSIAN Technologies LLP,Data Science,Chennai,Programme Manager
9,Balu Ramesh,MARSIAN Technologies LLP,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum,HR Administrator
10,Asif Lucknowi,subhas patel,"Technical Training, Software Development, Pres...",Indore,Director
11,InstaFinancials,LibraryXProject,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore,Human Resource
12,Kalpana Dumpala,Jitendra Singh,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad,Executive Hiring
13,Mubarak,Compunnel Technology India Pvt. Ltd,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore,Company HR
14,Kushal Rastogi,Abhishek - Only Analytics Hiring - India and,"Office Administration, Hr Administration, tele...",Mumbai,Company HR

In [33]:
driver.close()

# 8. Scrape the details of Highest selling novels.

In [47]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [48]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

In [49]:
driver.get(url)

In [50]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [51]:
bn=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]")
for i in bn:
    print(i.text)
    Book_name.append(i.text)

Da Vinci Code,The
Harry Potter and the Deathly Hallows
Harry Potter and the Philosopher's Stone
Harry Potter and the Order of the Phoenix
Fifty Shades of Grey
Harry Potter and the Goblet of Fire
Harry Potter and the Chamber of Secrets
Harry Potter and the Prisoner of Azkaban
Angels and Demons
Harry Potter and the Half-blood Prince:Children's Edition
Fifty Shades Darker
Twilight
Girl with the Dragon Tattoo,The:Millennium Trilogy
Fifty Shades Freed
Lost Symbol,The
New Moon
Deception Point
Eclipse
Lovely Bones,The
Curious Incident of the Dog in the Night-time,The
Digital Fortress
Short History of Nearly Everything,A
Girl Who Played with Fire,The:Millennium Trilogy
Breaking Dawn
Very Hungry Caterpillar,The:The Very Hungry Caterpillar
Gruffalo,The
Jamie's 30-Minute Meals
Kite Runner,The
One Day
Thousand Splendid Suns,A
Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy
Time Traveler's Wife,The
Atonement
Bridget Jones's Diary:A Novel
World According to Clarkson,The
Captain Corelli's Mandolin
Sound of Laughter,The
Life of Pi
Billy Connolly
Child Called It,A
Gruffalo's Child,The
Angela's Ashes:A Memoir of a Childhood
Birdsong
Northern Lights:His Dark Materials S.
Labyrinth
Harry Potter and the Half-blood Prince
Help,The
Man and Boy
Memoirs of a Geisha
No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.
Island,The
PS, I Love You
You are What You Eat:The Plan That Will Change Your Life
Shadow of the Wind,The
Tales of Beedle the Bard,The
Broker,The
Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P
Subtle Knife,The:His Dark Materials S.
Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation
Delia's How to Cook:(Bk.1)
Chocolat
Boy in the Striped Pyjamas,The
My Sister's Keeper
Amber Spyglass,The:His Dark Materials S.
To Kill a Mockingbird
Men are from Mars, Women are from Venus:A Practical Guide for Improvin
Dear Fatty
Short History of Tractors in Ukrainian,A
Hannibal
Lord of the Rings,The
Stupid White Men:...and Other Sorry Excuses for the State of the Natio
Interpretation of Murder,The
Sharon Osbourne Extreme:My Autobiography
Alchemist,The:A Fable About Following Your Dream
At My Mother's Knee ...:and Other Low Joints
Notes from a Small Island
Return of the Naked Chef,The
Bridget Jones: The Edge of Reason
Jamie's Italy
I Can Make You Thin
Down Under
Summons,The
Small Island
Nigella Express
Brick Lane
Memory Keeper's Daughter,The
Room on the Broom
About a Boy
My Booky Wook
God Delusion,The
"Beano" Annual,The
White Teeth
House at Riverton,The
Book Thief,The
Nights of Rain and Stars
Ghost,The
Happy Days with the Naked Chef
Hunger Games,The:Hunger Games Trilogy
Lost Boy,The:A Foster Child's Search for the Love of a Family
Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours

In [52]:
an=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]")
for i in an:
    print(i.text)
    Author_name.append(i.text)

Brown, Dan
Rowling, J.K.
Rowling, J.K.
Rowling, J.K.
James, E. L.
Rowling, J.K.
Rowling, J.K.
Rowling, J.K.
Brown, Dan
Rowling, J.K.
James, E. L.
Meyer, Stephenie
Larsson, Stieg
James, E. L.
Brown, Dan
Meyer, Stephenie
Brown, Dan
Meyer, Stephenie
Sebold, Alice
Haddon, Mark
Brown, Dan
Bryson, Bill
Larsson, Stieg
Meyer, Stephenie
Carle, Eric
Donaldson, Julia
Oliver, Jamie
Hosseini, Khaled
Nicholls, David
Hosseini, Khaled
Larsson, Stieg
Niffenegger, Audrey
McEwan, Ian
Fielding, Helen
Clarkson, Jeremy
Bernieres, Louis de
Kay, Peter
Martel, Yann
Stephenson, Pamela
Pelzer, Dave
Donaldson, Julia
McCourt, Frank
Faulks, Sebastian
Pullman, Philip
Mosse, Kate
Rowling, J.K.
Stockett, Kathryn
Parsons, Tony
Golden, Arthur
McCall Smith, Alexander
Hislop, Victoria
Ahern, Cecelia
McKeith, Gillian
Zafon, Carlos Ruiz
Rowling, J.K.
Grisham, John
Atkins, Robert C.
Pullman, Philip
Truss, Lynne
Smith, Delia
Harris, Joanne
Boyne, John
Picoult, Jodi
Pullman, Philip
Lee, Harper
Gray, John
French, Dawn
Lewycka, Marina
Harris, Thomas
Tolkien, J. R. R.
Moore, Michael
Rubenfeld, Jed
Osbourne, Sharon
Coelho, Paulo
O'Grady, Paul
Bryson, Bill
Oliver, Jamie
Fielding, Helen
Oliver, Jamie
McKenna, Paul
Bryson, Bill
Grisham, John
Levy, Andrea
Lawson, Nigella
Ali, Monica
Edwards, Kim
Donaldson, Julia
Hornby, Nick
Brand, Russell
Dawkins, Richard
0
Smith, Zadie
Morton, Kate
Zusak, Markus
Binchy, Maeve
Harris, Robert
Oliver, Jamie
Collins, Suzanne
Pelzer, Dave
Oliver, Jamie

In [53]:
vs=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]")
for i in vs:
    print(i.text)
    Volumes_sold.append(i.text)

5,094,805
4,475,152
4,200,654
4,179,479
3,758,936
3,583,215
3,484,047
3,377,906
3,193,946
2,950,264
2,479,784
2,315,405
2,233,570
2,193,928
2,183,031
2,152,737
2,062,145
2,052,876
2,005,598
1,979,552
1,928,900
1,852,919
1,814,784
1,787,118
1,783,535
1,781,269
1,743,266
1,629,119
1,616,068
1,583,992
1,555,135
1,546,886
1,539,428
1,508,205
1,489,403
1,352,318
1,310,207
1,310,176
1,231,957
1,217,712
1,208,711
1,204,058
1,184,967
1,181,503
1,181,093
1,153,181
1,132,336
1,130,802
1,126,337
1,115,549
1,108,328
1,107,379
1,104,403
1,092,349
1,090,847
1,087,262
1,054,196
1,037,160
1,023,688
1,015,956
1,009,873
1,004,414
1,003,780
1,002,314
998,213
992,846
986,753
986,115
970,509
967,466
963,353
962,515
959,496
956,114
945,640
931,312
925,425
924,695
906,968
905,086
890,847
869,671
869,659
862,602
856,540
845,858
842,535
828,215
820,563
816,907
816,585
815,586
814,370
809,641
808,900
807,311
794,201
792,187
791,507
791,095

In [54]:
pp=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]")
for i in pp:
    print(i.text)
    Publisher.append(i.text)

Transworld
Bloomsbury
Bloomsbury
Bloomsbury
Random House
Bloomsbury
Bloomsbury
Bloomsbury
Transworld
Bloomsbury
Random House
Little, Brown Book
Quercus
Random House
Transworld
Little, Brown Book
Transworld
Little, Brown Book
Pan Macmillan
Random House
Transworld
Transworld
Quercus
Little, Brown Book
Penguin
Pan Macmillan
Penguin
Bloomsbury
Hodder & Stoughton
Bloomsbury
Quercus
Random House
Random House
Pan Macmillan
Penguin
Random House
Random House
Canongate
HarperCollins
Orion
Pan Macmillan
HarperCollins
Random House
Scholastic Ltd.
Orion
Bloomsbury
Penguin
HarperCollins
Random House
Little, Brown Book
Headline
HarperCollins
Penguin
Orion
Bloomsbury
Random House
Random House
Scholastic Ltd.
Profile Books Group
Random House
Transworld
Random House Childrens Books G
Hodder & Stoughton
Scholastic Ltd.
Random House
HarperCollins
Random House
Penguin
Random House
HarperCollins
Penguin
Headline
Little, Brown Book
HarperCollins
Transworld
Transworld
Penguin
Pan Macmillan
Penguin
Transworld
Transworld
Random House
Headline
Random House
Transworld
Penguin
Pan Macmillan
Penguin
Hodder & Stoughton
Transworld
D.C. Thomson
Penguin
Pan Macmillan
Transworld
Orion
Random House
Penguin
Scholastic Ltd.
Orion
Penguin

In [55]:
gg=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]")
for i in gg:
    print(i.text)
    Genre.append(i.text)

Crime, Thriller & Adventure
Children's Fiction
Children's Fiction
Children's Fiction
Romance & Sagas
Children's Fiction
Children's Fiction
Children's Fiction
Crime, Thriller & Adventure
Children's Fiction
Romance & Sagas
Young Adult Fiction
Crime, Thriller & Adventure
Romance & Sagas
Crime, Thriller & Adventure
Young Adult Fiction
Crime, Thriller & Adventure
Young Adult Fiction
General & Literary Fiction
General & Literary Fiction
Crime, Thriller & Adventure
Popular Science
Crime, Thriller & Adventure
Young Adult Fiction
Picture Books
Picture Books
Food & Drink: General
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
Crime, Thriller & Adventure
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
Humour: Collections & General
General & Literary Fiction
Autobiography: General
General & Literary Fiction
Biography: The Arts
Autobiography: General
Picture Books
Autobiography: General
General & Literary Fiction
Young Adult Fiction
General & Literary Fiction
Science Fiction & Fantasy
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
Crime, Thriller & Adventure
General & Literary Fiction
General & Literary Fiction
Fitness & Diet
General & Literary Fiction
Children's Fiction
Crime, Thriller & Adventure
Fitness & Diet
Young Adult Fiction
Usage & Writing Guides
Food & Drink: General
General & Literary Fiction
Young Adult Fiction
General & Literary Fiction
Young Adult Fiction
General & Literary Fiction
Popular Culture & Media: General Interest
Autobiography: The Arts
General & Literary Fiction
Crime, Thriller & Adventure
Science Fiction & Fantasy
Current Affairs & Issues
Crime, Thriller & Adventure
Autobiography: The Arts
General & Literary Fiction
Autobiography: The Arts
Travel Writing
Food & Drink: General
General & Literary Fiction
National & Regional Cuisine
Fitness & Diet
Travel Writing
Crime, Thriller & Adventure
General & Literary Fiction
Food & Drink: General
General & Literary Fiction
General & Literary Fiction
Picture Books
General & Literary Fiction
Autobiography: The Arts
Popular Science
Children's Annuals
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
General & Literary Fiction
Food & Drink: General
Young Adult Fiction
Biography: General
Food & Drink: General

In [56]:
df=pd.DataFrame({"Name":Book_name[0:15],
                "Author":Author_name[0:15],
                "volumes sold":Volumes_sold[0:15],
                "Publisher":Publisher[0:15],
                 "Genre":Genre[0:15]
                  })

In [57]:
df

,Name,Author,volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas
11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"
13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"

In [58]:
driver.close()

# 9. Scrape the details most watched tv series of all time from imdb.com.

In [20]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [21]:
url="https://www.imdb.com/list/ls095964455/"

In [22]:
driver.get(url)

In [23]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [24]:
nm=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in nm:
    print(i.text)
    Name.append(i.text)

Game of Thrones
Stranger Things
The Walking Dead
13 Reasons Why
The 100
Orange Is the New Black
Riverdale
Grey's Anatomy
The Flash
Arrow
Money Heist
The Big Bang Theory
Black Mirror
Sherlock
Vikings
Pretty Little Liars
The Vampire Diaries
American Horror Story
Breaking Bad
Lucifer
Supernatural
Prison Break
How to Get Away with Murder
Teen Wolf
The Simpsons
Once Upon a Time
Narcos
Daredevil
Friends
How I Met Your Mother
Suits
Mr. Robot
The Originals
Supergirl
Gossip Girl
Sense8
Gotham
Westworld
Jessica Jones
Modern Family
Rick and Morty
Shadowhunters
The End of the F***ing World
House of Cards
Dark
Elite
Sex Education
Shameless
New Girl
Agents of S.H.I.E.L.D.
You
Dexter
Fear the Walking Dead
Family Guy
The Blacklist
Lost
Peaky Blinders
House
Quantico
Orphan Black
Homeland
Blindspot
DC's Legends of Tomorrow
The Handmaid's Tale
Chilling Adventures of Sabrina
The Good Doctor
Jane the Virgin
Glee
South Park
Brooklyn Nine-Nine
Under the Dome
The Umbrella Academy
True Detective
The OA
Desperate Housewives
Better Call Saul
Bates Motel
The Punisher
Atypical
Dynasty
This Is Us
The Good Place
Iron Fist
The Rain
Mindhunter
Revenge
Luke Cage
Scandal
The Defenders
Big Little Lies
Insatiable
The Mentalist
The Crown
Chernobyl
iZombie
Reign
A Series of Unfortunate Events
Criminal Minds
Scream: The TV Series
The Haunting of Hill House

In [25]:
ys=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in ys:
    print(i.text)
    Year_span.append(i.text)

(2011–2019)
(2016– )
(2010– )
(2017–2020)
(2014–2020)
(2013–2019)
(2017– )
(2005– )
(2014– )
(2012–2020)
(2017– )
(2007–2019)
(2011– )
(2010–2017)
(2013–2020)
(2010–2017)
(2009–2017)
(2011– )
(2008–2013)
(2016– )
(2005–2020)
(2005–2017)
(2014–2020)
(2011–2017)
(1989– )
(2011–2018)
(2015–2017)
(2015–2018)
(1994–2004)
(2005–2014)
(2011–2019)
(2015–2019)
(2013–2018)
(2015–2021)
(2007–2012)
(2015–2018)
(2014–2019)
(2016– )
(2015–2019)
(2009–2020)
(2013– )
(2016–2019)
(2017–2019)
(2013–2018)
(2017–2020)
(2018– )
(2019– )
(2011–2021)
(2011–2018)
(2013–2020)
(2018– )
(2006–2021)
(2015– )
(1999– )
(2013– )
(2004–2010)
(2013– )
(2004–2012)
(2015–2018)
(2013–2017)
(2011–2020)
(2015–2020)
(2016– )
(2017– )
(2018–2020)
(2017– )
(2014–2019)
(2009–2015)
(1997– )
(2013– )
(2013–2015)
(2019– )
(2014– )
(2016–2019)
(2004–2012)
(2015–2021)
(2013–2017)
(2017–2019)
(2017–2021)
(2017– )
(2016– )
(2016–2020)
(2017–2018)
(2018–2020)
(2017–2019)
(2011–2015)
(2016–2018)
(2012–2018)
(2017)
(2017–2019)
(2018–2019)
(2008–2015)
(2016– )
(2019)
(2015–2019)
(2013–2017)
(2017–2019)
(2005–2020)
(2015–2019)
(2018)

In [26]:
gn=driver.find_elements_by_xpath("//span[@class='genre']")
for i in gn:
    print(i.text)
    Genre.append(i.text)

Action, Adventure, Drama
Drama, Fantasy, Horror
Drama, Horror, Thriller
Drama, Mystery, Thriller
Drama, Mystery, Sci-Fi
Comedy, Crime, Drama
Crime, Drama, Mystery
Drama, Romance
Action, Adventure, Drama
Action, Adventure, Crime
Action, Crime, Mystery
Comedy, Romance
Drama, Sci-Fi, Thriller
Crime, Drama, Mystery
Action, Adventure, Drama
Drama, Mystery, Romance
Drama, Fantasy, Horror
Drama, Horror, Thriller
Crime, Drama, Thriller
Crime, Drama, Fantasy
Drama, Fantasy, Horror
Action, Crime, Drama
Crime, Drama, Mystery
Action, Drama, Fantasy
Animation, Comedy
Adventure, Fantasy, Romance
Biography, Crime, Drama
Action, Crime, Drama
Comedy, Romance
Comedy, Romance
Comedy, Drama
Crime, Drama, Thriller
Drama, Fantasy, Horror
Action, Adventure, Drama
Drama, Romance
Drama, Mystery, Sci-Fi
Action, Crime, Drama
Drama, Mystery, Sci-Fi
Action, Crime, Drama
Comedy, Drama, Romance
Animation, Adventure, Comedy
Action, Drama, Fantasy
Adventure, Comedy, Crime
Drama
Crime, Drama, Mystery
Crime, Drama, Thriller
Comedy, Drama
Comedy, Drama
Comedy
Action, Adventure, Drama
Crime, Drama, Romance
Crime, Drama, Mystery
Drama, Horror, Sci-Fi
Animation, Comedy
Crime, Drama, Mystery
Adventure, Drama, Fantasy
Crime, Drama
Drama, Mystery
Crime, Drama, Mystery
Action, Drama, Sci-Fi
Crime, Drama, Mystery
Action, Crime, Drama
Action, Adventure, Drama
Drama, Sci-Fi, Thriller
Drama, Fantasy, Horror
Drama
Comedy
Comedy, Drama, Music
Animation, Comedy
Comedy, Crime
Drama, Mystery, Sci-Fi
Action, Adventure, Comedy
Crime, Drama, Mystery
Drama, Fantasy, Mystery
Comedy, Drama, Mystery
Crime, Drama
Drama, Horror, Mystery
Action, Crime, Drama
Comedy, Drama
Drama
Comedy, Drama, Romance
Comedy, Drama, Fantasy
Action, Adventure, Crime
Drama, Sci-Fi, Thriller
Crime, Drama, Thriller
Drama, Mystery, Thriller
Action, Crime, Drama
Drama, Thriller
Action, Adventure, Crime
Crime, Drama, Mystery
Comedy, Drama, Thriller
Crime, Drama, Mystery
Biography, Drama, History
Drama, History, Thriller
Comedy, Crime, Drama
Drama, Fantasy
Adventure, Comedy, Drama
Crime, Drama, Mystery
Crime, Drama, Horror
Drama, Horror, Mystery

In [27]:
rt=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in rt:
    print(i.text)
    Run_time.append(i.text)

57 min
51 min
44 min
60 min
43 min
59 min
45 min
41 min
43 min
42 min
70 min
22 min
60 min
88 min
44 min
44 min
43 min
60 min
49 min
42 min
44 min
44 min
43 min
41 min
22 min
60 min
49 min
54 min
22 min
22 min
44 min
49 min
45 min
43 min
42 min
60 min
42 min
62 min
56 min
22 min
23 min
42 min
25 min
51 min
60 min
60 min
45 min
46 min
22 min
45 min
45 min
53 min
44 min
22 min
43 min
44 min
60 min
44 min
42 min
44 min
55 min
42 min
42 min
60 min
60 min
41 min
60 min
44 min
22 min
22 min
43 min
60 min
55 min
60 min
45 min
46 min
45 min
53 min
30 min
42 min
45 min
22 min
55 min
45 min
60 min
44 min
55 min
43 min
50 min
60 min
45 min
43 min
58 min
330 min
42 min
42 min
50 min
42 min
45 min
572 min

In [28]:
rr=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in rr:
    print(i.text)
    Ratings.append(i.text)

9.3
8.7
8.2
7.6
7.6
8.1
6.9
7.6
7.7
7.5
8.3
8.1
8.8
9.1
8.5
7.4
7.7
8
9.5
8.1
8.4
8.3
8.1
7.6
8.7
7.7
8.8
8.6
8.9
8.3
8.5
8.6
8.2
6.3
7.4
8.3
7.8
8.6
7.9
8.4
9.2
6.6
8.1
8.7
8.8
7.6
8.3
8.6
7.7
7.5
7.7
8.6
6.9
8.1
8
8.3
8.8
8.7
6.7
8.3
8.3
7.4
6.8
8.4
7.5
8.2
7.8
6.7
8.7
8.4
6.6
8
9
7.8
7.5
8.7
8.2
8.5
8.3
7.3
8.7
8.2
6.5
6.3
8.6
7.8
7.3
7.7
7.3
8.5
6.5
8.1
8.7
9.4
7.8
7.5
7.8
8.1
7.2
8.6

In [29]:
vt=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[2]")
for i in vt:
    print(i.text)
    Votes.append(i.text)

|
1,768,795
|
821,278
|
852,923
|
256,067
|
216,277
|
278,832
|
117,803
|
250,713
|
305,151
|
407,531
|
297,683
|
722,841
|
444,127
|
806,744
|
431,697
|
152,203
|
282,857
|
277,363
|
1,463,764
|
232,131
|
392,411
|
476,095
|
129,184
|
126,683
|
365,514
|
208,513
|
357,306
|
362,371
|
826,899
|
602,478
|
363,389
|
333,157
|
117,439
|
111,119
|
154,283
|
139,353
|
211,790
|
427,892
|
193,146
|
354,914
|
375,398
|
53,262
|
145,815
|
466,731
|
283,350
|
48,092
|
157,902
|
203,016
|
192,221
|
199,676
|
143,307
|
646,137
|
112,397
|
304,521
|
197,011
|
495,348
|
347,764
|
414,506
|
57,194
|
101,340
|
312,635
|
66,621
|
91,922
|
171,925
|
77,413
|
62,784
|
38,729
|
136,675
|
331,396
|
225,004
|
101,158
|
158,724
|
499,127
|
90,511
|
115,608
|
323,549
|
96,944
|
184,223
|
60,191
|
14,813
|
106,316
|
114,832
|
114,679
|
30,782
|
216,808
|
112,505
|
116,779
|
67,239
|
90,752
|
156,343
|
22,554
|
165,419
|
149,111
|
540,746
|
60,447
|
43,557
|
53,847
|
161,059
|
34,079
|
182,139

In [30]:
df=pd.DataFrame({"Name":Name[0:15],
                "Year":Year_span[0:15],
                "Genre":Genre[0:15],
                "time":Run_time[0:15],
                 "Rating":Ratings[0:15],
                 "vote":Votes[0:15]
                  })

In [31]:
df

,Name,Year,Genre,time,Rating,vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,|
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,768,795"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,|
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"821,278"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,|
5,Orange Is the New Black,(2013–2019),"Comedy, Crime, Drama",59 min,8.1,"852,923"
6,Riverdale,(2017– ),"Crime, Drama, Mystery",45 min,6.9,|
7,Grey's Anatomy,(2005– ),"Drama, Romance",41 min,7.6,"256,067"
8,The Flash,(2014– ),"Action, Adventure, Drama",43 min,7.7,|
9,Arrow,(2012–2020),"Action, Adventure, Crime",42 min,7.5,"216,277"
10,Money Heist,(2017– ),"Action, Crime, Mystery",70 min,8.3,|
11,The Big Bang Theory,(2007–2019),"Comedy, Romance",22 min,8.1,"278,832"
12,Black Mirror,(2011– ),"Drama, Sci-Fi, Thriller",60 min,8.8,|
13,Sherlock,(2010–2017),"Crime, Drama, Mystery",88 min,9.1,"117,803"
14,Vikings,(2013–2020),"Action, Adventure, Drama",44 min,8.5,|

In [32]:
driver.close()

# 10. Details of Datasets from UCI machine learning repositories.

In [54]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [55]:
url="https://archive.ics.uci.edu/ml/index.php"

In [56]:
driver.get(url)

In [57]:
show=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    show.click()
except ElementNotInteractableException:
    driver.get(show.get_attribute('href'))

In [58]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_instances=[]
No_attribute=[]
Year=[]

In [59]:
dn=driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in dn:
    print(i.text)
    Dataset_name.append(i.text)

Abalone
Adult
Annealing
Anonymous Microsoft Web Data
Arrhythmia
Artificial Characters
Audiology (Original)
Audiology (Standardized)
Auto MPG
Automobile
Badges
Balance Scale
Balloons
Breast Cancer
Breast Cancer Wisconsin (Original)
Breast Cancer Wisconsin (Prognostic)
Breast Cancer Wisconsin (Diagnostic)
Pittsburgh Bridges
Car Evaluation
Census Income
Chess (King-Rook vs. King-Knight)
Chess (King-Rook vs. King-Pawn)
Chess (King-Rook vs. King)
Chess (Domain Theories)
Bach Chorales
Connect-4
Credit Approval
Japanese Credit Screening
Computer Hardware
Contraceptive Method Choice
Covertype
Cylinder Bands
Dermatology
Diabetes
DGP2 - The Second Data Generation Program
Document Understanding
EBL Domain Theories
Echocardiogram
Ecoli
Flags
Function Finding
Glass Identification
Haberman's Survival
Hayes-Roth
Heart Disease
Hepatitis
Horse Colic
ICU
Image Segmentation
Internet Advertisements
Ionosphere
Iris
ISOLET
Kinship
Labor Relations
LED Display Domain
Lenses
Letter Recognition
Liver Disorders
Logic Theorist
Lung Cancer
Lymphography
Mechanical Analysis
Meta-data
Mobile Robots
Molecular Biology (Promoter Gene Sequences)
Molecular Biology (Protein Secondary Structure)
Molecular Biology (Splice-junction Gene Sequences)
MONK's Problems
Moral Reasoner
Multiple Features
Mushroom
Musk (Version 1)
Musk (Version 2)
Nursery
Othello Domain Theory
Page Blocks Classification
Optical Recognition of Handwritten Digits
Pen-Based Recognition of Handwritten Digits
Post-Operative Patient
Primary Tumor
Prodigy
Qualitative Structure Activity Relationships
Quadruped Mammals
Servo
Shuttle Landing Control
Solar Flare
Soybean (Large)
Soybean (Small)
Challenger USA Space Shuttle O-Ring
Low Resolution Spectrometer
Spambase
SPECT Heart
SPECTF Heart
Sponge
Statlog Project
Student Loan Relational
Teaching Assistant Evaluation
Tic-Tac-Toe Endgame
Thyroid Disease
Trains
University
Congressional Voting Records
Water Treatment Plant
Waveform Database Generator (Version 1)
Waveform Database Generator (Version 2)
Wine
Yeast
Zoo
Undocumented
Twenty Newsgroups
Australian Sign Language signs
Australian Sign Language signs (High Quality)
US Census Data (1990)
Census-Income (KDD)
Coil 1999 Competition Data
Corel Image Features
E. Coli Genes
EEG Database
El Nino
Entree Chicago Recommendation Data
CMU Face Images
Insurance Company Benchmark (COIL 2000)
Internet Usage Data
IPUMS Census Database
Japanese Vowels
KDD Cup 1998 Data
KDD Cup 1999 Data
M. Tuberculosis Genes
Movie
MSNBC.com Anonymous Web Data
NSF Research Award Abstracts 1990-2003
Pioneer-1 Mobile Robot Data
Pseudo Periodic Synthetic Time Series
Reuters-21578 Text Categorization Collection
Robot Execution Failures
Synthetic Control Chart Time Series
Syskill and Webert Web Page Ratings
UNIX User Data
Volcanoes on Venus - JARtool experiment
Statlog (Australian Credit Approval)
Statlog (German Credit Data)
Statlog (Heart)
Statlog (Landsat Satellite)
Statlog (Image Segmentation)
Statlog (Shuttle)
Statlog (Vehicle Silhouettes)
Connectionist Bench (Nettalk Corpus)
Connectionist Bench (Sonar, Mines vs. Rocks)
Connectionist Bench (Vowel Recognition - Deterding Data)
Economic Sanctions
Protein Data
Cloud
CalIt2 Building People Counts
Dodgers Loop Sensor
Poker Hand
MAGIC Gamma Telescope
UJI Pen Characters
Mammographic Mass
Forest Fires
Reuters Transcribed Subset
Bag of Words
Concrete Compressive Strength
Hill-Valley
Arcene
Dexter
Dorothea
Gisette
Madelon
Ozone Level Detection
Abscisic Acid Signaling Network
Parkinsons
Character Trajectories
Blood Transfusion Service Center
UJI Pen Characters (Version 2)
Semeion Handwritten Digit
SECOM
Plants
Libras Movement
Concrete Slump Test
Communities and Crime
Acute Inflammations
Wine Quality
URL Reputation
p53 Mutants
Parkinsons Telemonitoring
Demospongiae
Opinosis Opinion ⁄ Review
Breast Tissue
Cardiotocography
Wall-Following Robot Navigation Data
Spoken Arabic Digit
Localization Data for Person Activity
AutoUniv
Steel Plates Faults
MiniBooNE particle identification
YearPredictionMSD
PEMS-SF
OpinRank Review Dataset
Relative location of CT slices on axial axis
Online Handwritten Assamese Characters Dataset
PubChem Bioassay Data
Record Linkage Comparison Patterns
Communities and Crime Unnormalized
Vertebral Column
EMG Physical Action Data Set
Vicon Physical Action Data Set
Amazon Commerce reviews set
Amazon Access Samples
Reuter_50_50
Farm Ads
DBWorld e-mails
KEGG Metabolic Relation Network (Directed)
KEGG Metabolic Reaction Network (Undirected)
Bank Marketing
YouTube Comedy Slam Preference Data
Gas Sensor Array Drift Dataset
ILPD (Indian Liver Patient Dataset)
OPPORTUNITY Activity Recognition
Nomao
SMS Spam Collection
Skin Segmentation
Planning Relax
PAMAP2 Physical Activity Monitoring
Restaurant & consumer data
CNAE-9
Individual household electric power consumption
seeds
Northix
QtyT40I10D100K
Legal Case Reports
Human Activity Recognition Using Smartphones
One-hundred plant species leaves data set
Energy efficiency
Yacht Hydrodynamics
Fertility
Daphnet Freezing of Gait
3D Road Network (North Jutland, Denmark)
ISTANBUL STOCK EXCHANGE
Buzz in social media
First-order theorem proving
Wearable Computing: Classification of Body Postures and Movements (PUC-Rio)
Gas sensor arrays in open sampling settings
Climate Model Simulation Crashes
MicroMass
QSAR biodegradation
BLOGGER
Daily and Sports Activities
User Knowledge Modeling
Reuters RCV1 RCV2 Multilingual, Multiview Text Categorization Test collection
NYSK
Turkiye Student Evaluation
ser Knowledge Modeling Data (Students' Knowledge Levels on DC Electrical Machines)
EEG Eye State
Physicochemical Properties of Protein Tertiary Structure
seismic-bumps
banknote authentication
USPTO Algorithm Challenge, run by NASA-Harvard Tournament Lab and TopCoder Problem: Pat
YouTube Multiview Video Games Dataset
Gas Sensor Array Drift Dataset at Different Concentrations
Activities of Daily Living (ADLs) Recognition Using Binary Sensors
SkillCraft1 Master Table Dataset
Weight Lifting Exercises monitored with Inertial Measurement Units
SML2010
Bike Sharing Dataset
Predict keywords activities in a online social media
Thoracic Surgery Data
EMG dataset in Lower Limb
SUSY
HIGGS
Qualitative_Bankruptcy
LSVT Voice Rehabilitation
Dataset for ADL Recognition with Wrist-worn Accelerometer
Wilt
User Identification From Walking Activity
Activity Recognition from Single Chest-Mounted Accelerometer
Leaf
Dresses_Attribute_Sales
Tamilnadu Electricity Board Hourly Readings
Airfoil Self-Noise
Wholesale customers
Twitter Data set for Arabic Sentiment Analysis
Combined Cycle Power Plant
Urban Land Cover
Diabetes 130-US hospitals for years 1999-2008
Bach Choral Harmony
StoneFlakes
Tennis Major Tournament Match Statistics
Parkinson Speech Dataset with Multiple Types of Sound Recordings
Gesture Phase Segmentation
Perfume Data
BlogFeedback
REALDISP Activity Recognition Dataset
Newspaper and magazine images segmentation dataset
AAAI 2014 Accepted Papers
Gas sensor array under flow modulation
Gas sensor array exposed to turbulent gas mixtures
UJIIndoorLoc
Sentence Classification
Dow Jones Index
sEMG for Basic Hand movements
AAAI 2013 Accepted Papers
Geographical Original of Music
Condition Based Maintenance of Naval Propulsion Plants
Grammatical Facial Expressions
NoisyOffice
MHEALTH Dataset
Student Performance
ElectricityLoadDiagrams20112014
Gas sensor array under dynamic gas mixtures
microblogPCU
Firm-Teacher_Clave-Direction_Classification
Dataset for Sensorless Drive Diagnosis
TV News Channel Commercial Detection Dataset
Phishing Websites
Greenhouse Gas Observing Network
Diabetic Retinopathy Debrecen Data Set
HIV-1 protease cleavage
Sentiment Labelled Sentences
Online News Popularity
Forest type mapping
wiki4HE
Online Video Characteristics and Transcoding Time Dataset
Chronic_Kidney_Disease
Machine Learning based ZZAlpha Ltd. Stock Recommendations 2012-2014
Folio
Taxi Service Trajectory - Prediction Challenge, ECML PKDD 2015
Cuff-Less Blood Pressure Estimation
Smartphone-Based Recognition of Human Activities and Postural Transitions
Mice Protein Expression
UJIIndoorLoc-Mag
Heterogeneity Activity Recognition
Educational Process Mining (EPM): A Learning Analytics Data Set
HEPMASS
Indoor User Movement Prediction from RSS data

Open University Learning Analytics dataset
default of credit card clients
Mesothelioma’s disease data set
Online Retail
SIFT10M
GPS Trajectories
Detect Malacious Executable(AntiVirus)
Occupancy Detection
Improved Spiral Test Using Digitized Graphics Tablet for Monitoring Parkinson’s Disease
News Aggregator
Air Quality
Twin gas sensor arrays
Gas sensors for home activity monitoring
Facebook Comment Volume Dataset
Smartphone Dataset for Human Activity Recognition (HAR) in Ambient Assisted Living (AAL)
Polish companies bankruptcy data
Activity Recognition system based on Multisensor data fusion (AReM)
Dota2 Games Results
Facebook metrics
UbiqLog (smartphone lifelogging)
NIPS Conference Papers 1987-2015
HTRU2
Drug consumption (quantified)
Appliances energy prediction
Miskolc IIS Hybrid IPS
KDC-4007 dataset Collection
Geo-Magnetic field and WLAN dataset for indoor localisation from wristband and smartphone
DrivFace
Website Phishing
YouTube Spam Collection
Beijing PM2.5 Data
Cargo 2000 Freight Tracking and Tracing
Cervical cancer (Risk Factors)
Quality Assessment of Digital Colposcopies
KASANDR
FMA: A Dataset For Music Analysis
Air quality
Epileptic Seizure Recognition
Devanagari Handwritten Character Dataset
Stock portfolio performance
MoCap Hand Postures
Early biomarkers of Parkinson�s disease based on natural connected speech
Data for Software Engineering Teamwork Assessment in Education Setting
PM2.5 Data of Five Chinese Cities
Parkinson Disease Spiral Drawings Using Digitized Graphics Tablet
Sales_Transactions_Dataset_Weekly
Las Vegas Strip
Eco-hotel
MEU-Mobile KSD
Crowdsourced Mapping
gene expression cancer RNA-Seq
Hybrid Indoor Positioning Dataset from WiFi RSSI, Bluetooth and magnetometer
chestnut – LARVIC
Burst Header Packet (BHP) flooding attack on Optical Burst Switching (OBS) Network
Motion Capture Hand Postures
Anuran Calls (MFCCs)
TTC-3600: Benchmark dataset for Turkish text categorization
Gastrointestinal Lesions in Regular Colonoscopy
Daily Demand Forecasting Orders
Paper Reviews
extention of Z-Alizadeh sani dataset
Z-Alizadeh Sani
Dynamic Features of VirusShare Executables
IDA2016Challenge
DSRC Vehicle Communications
Mturk User-Perceived Clusters over Images
Character Font Images
DeliciousMIL: A Data Set for Multi-Label Multi-Instance Learning with Instance Labels
Autistic Spectrum Disorder Screening Data for Children
Autistic Spectrum Disorder Screening Data for Adolescent
APS Failure at Scania Trucks
Wireless Indoor Localization
HCC Survival
CSM (Conventional and Social Media Movies) Dataset 2014 and 2015
University of Tehran Question Dataset 2016 (UTQD.2016)
Autism Screening Adult
Activity recognition with healthy older people using a batteryless wearable sensor
Immunotherapy Dataset
Cryotherapy Dataset
OCT data & Color Fundus Images of Left & Right Eyes
Discrete Tone Image Dataset
News Popularity in Multiple Social Media Platforms
Ultrasonic flowmeter diagnostics
ICMLA 2014 Accepted Papers Data Set
BLE RSSI Dataset for Indoor localization and Navigation
Container Crane Controller Data Set
Residential Building Data Set
Health News in Twitter
chipseq
SGEMM GPU kernel performance
Repeat Consumption Matrices
detection_of_IoT_botnet_attacks_N_BaIoT
Absenteeism at work
SCADI
Condition monitoring of hydraulic systems
Carbon Nanotubes
Optical Interconnection Network
Sports articles for objectivity analysis
Breast Cancer Coimbra
GNFUV Unmanned Surface Vehicles Sensor Data
Dishonest Internet users Dataset
Victorian Era Authorship Attribution
Simulated Falls and Daily Living Activities Data Set
Multimodal Damage Identification for Humanitarian Computing
EEG Steady-State Visual Evoked Potential Signals
Roman Urdu Data Set
Avila
PANDOR
Drug Review Dataset (Druglib.com)
Drug Review Dataset (Drugs.com)
Physical Unclonable Functions
Superconductivty Data
WESAD (Wearable Stress and Affect Detection)
GNFUV Unmanned Surface Vehicles Sensor Data Set 2
Student Academics Performance
Online Shoppers Purchasing Intention Dataset
PMU-UD
Parkinson's Disease Classification
Electrical Grid Stability Simulated Data
Caesarian Section Classification Dataset
BAUM-1
BAUM-2
Audit Data
BuddyMove Data Set
Real estate valuation data set
Early biomarkers of Parkinson’s disease based on natural connected speech Data Set
Somerville Happiness Survey
2.4 GHZ Indoor Channel Measurements
EMG data for gestures
Parking Birmingham
Behavior of the urban traffic of the city of Sao Paulo in Brazil
Travel Reviews
Tarvel Review Ratings
Rice Leaf Diseases
Gas sensor array temperature modulation
Facebook Live Sellers in Thailand
Parkinson Dataset with replicated acoustic features
Metro Interstate Traffic Volume
Query Analytics Workloads Dataset
Wave Energy Converters
PPG-DaLiA
Alcohol QCM Sensor Dataset
Divorce Predictors data set
Incident management process enriched event log
Opinion Corpus for Lebanese Arabic Reviews (OCLAR)
MEx
Beijing Multi-Site Air-Quality Data
Online Retail II
Hepatitis C Virus (HCV) for Egyptian patients
QSAR fish toxicity
QSAR aquatic toxicity
Human Activity Recognition from Continuous Ambient Sensor Data
WISDM Smartphone and Smartwatch Activity and Biometrics Dataset
QSAR oral toxicity
QSAR androgen receptor
QSAR Bioconcentration classes dataset
QSAR fish bioconcentration factor (BCF)
A study of Asian Religious and Biblical Texts
Real-time Election Results: Portugal 2019
Bias correction of numerical prediction model temperature forecast
Bar Crawl: Detecting Heavy Drinking
Kitsune Network Attack Dataset
Shoulder Implant X-Ray Manufacturer Classification
Speaker Accent Recognition
Heart failure clinical records
Deepfakes: Medical Image Tamper Detection
selfBACK
South German Credit
Exasens
Swarm Behaviour
Crop mapping using fused optical-radar data set
BitcoinHeistRansomwareAddressDataset
Facebook Large Page-Page Network
Amphibians
Early stage diabetes risk prediction dataset.
Turkish Spam V01
Stock keeping units
Demand Forecasting for a store
Detect Malware Types
Wave Energy Converters
Youtube cookery channels viewers comments in Hinglish
Pedestrian in Traffic Dataset
Cervical Cancer Behavior Risk
Sattriya_Dance_Single_Hand_Gestures Dataset
Divorce Predictors data set
3W dataset
Malware static and dynamic features VxHeaven and Virus Total
Internet Firewall Data
User Profiling and Abusive Language Detection Dataset
Estimation of obesity levels based on eating habits and physical condition
Rice (Cammeo and Osmancik)
Vehicle routing and scheduling problems
Algerian Forest Fires Dataset
Breath Metabolomics
Horton General Hospital
UrbanGB, urban road accidents coordinates labelled by the urban center
Gas Turbine CO and NOx Emission Data Set
Activity recognition using wearable physiological measurements
clickstream data for online shopping
CNNpred: CNN-based stock market prediction using a diverse set of variables
Apartment for rent classified
: Simulated Data set of Iraqi tourism places
Nasarian CAD Dataset
Monolithic Columns in Troad and Mysia Region
Bar Crawl: Detecting Heavy Drinking
Seoul Bike Sharing Demand
Person Classification Gait Data
Shill Bidding Dataset
Iranian Churn Dataset
Unmanned Aerial Vehicle (UAV) Intrusion Detection
Bone marrow transplant: children
Exasens
COVID-19 Surveillance
Refractive errors
Shoulder Implant X-Ray Manufacturer Classification
CLINC150
HCV data
Taiwanese Bankruptcy Prediction
South German Credit (UPDATE)
IIWA14-R820-Gazebo-Dataset-10Trajectories
Guitar Chords finger positions
Russian Corpus of Biographical Texts
Codon usage
Intelligent Media Accelerometer and Gyroscope (IM-AccGyro) Dataset

In [60]:
dt=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in dt:
    print(i.text)
    Data_type.append(i.text)

Data Types
Multivariate
Multivariate
Multivariate

Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Univariate, Text
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Data-Generator
Multivariate
Multivariate
Domain-Theory
Univariate, Time-Series
Multivariate, Spatial
Multivariate
Multivariate, Domain-Theory
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Data-Generator


Multivariate
Multivariate
Multivariate

Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Relational
Multivariate
Multivariate, Data-Generator
Multivariate
Multivariate
Multivariate
Domain-Theory
Multivariate
Multivariate
Multivariate
Multivariate
Domain-Theory
Sequential, Domain-Theory
Sequential
Sequential, Domain-Theory
Multivariate
Domain-Theory
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Domain-Theory
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Domain-Theory
Domain-Theory
Multivariate, Data-Generator
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate

Domain-Theory
Multivariate
Multivariate
Multivariate, Domain-Theory
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Data-Generator
Multivariate, Data-Generator
Multivariate
Multivariate
Multivariate

Text
Multivariate, Time-Series
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate
Multivariate
Relational
Multivariate, Time-Series
Spatio-temporal
Transactional, Sequential
Image
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate
Multivariate
Relational
Multivariate, Relational
Sequential
Text
Multivariate, Time-Series
Univariate, Time-Series
Text
Multivariate, Time-Series
Time-Series
Multivariate, Text
Text, Sequential
Image
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate

Domain-Theory

Multivariate
Multivariate, Time-Series
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate, Sequential
Multivariate
Multivariate
Text
Text
Multivariate
Sequential
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Sequential, Time-Series
Multivariate
Multivariate
Time-Series
Multivariate
Multivariate, Sequential
Multivariate
Multivariate
Multivariate
Multivariate, Sequential
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate
Text
Multivariate
Multivariate
Multivariate, Sequential
Multivariate, Time-Series
Univariate, Sequential, Time-Series
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Text
Domain-Theory
Multivariate, Sequential
Multivariate
Multivariate
Multivariate
Multivariate
Time-Series
Time-Series
Multivariate, Text, Domain-Theory
Time-Series, Domain-Theory
Multivariate, Text, Domain-Theory
Text
Text
Multivariate, Univariate, Text
Multivariate, Univariate, Text
Multivariate
Text
Multivariate
Multivariate
Multivariate, Time-Series
Univariate
Multivariate, Text, Domain-Theory
Univariate
Univariate
Multivariate, Time-Series
Multivariate
Multivariate, Text
Multivariate, Time-Series
Multivariate
Multivariate, Univariate, Text
Sequential
Text
Multivariate, Time-Series

Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Sequential, Text
Multivariate, Univariate, Time-Series
Time-Series, Multivariate
Multivariate
Sequential
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate, Sequential, Text
Multivariate
Multivariate
Multivariate, Sequential, Time-Series
Multivariate
Multivariate
Multivariate
Domain-Theory
Multivariate, Text
Multivariate, Time-Series
Multivariate, Sequential, Time-Series
Multivariate
Multivariate
Multivariate, Sequential, Time-Series, Text
Univariate
Multivariate, Sequential, Time-Series
Multivariate
Multivariate, Time-Series


Multivariate
Multivariate
Multivariate, Time-Series
Multivariate
Univariate, Sequential, Time-Series
Univariate, Sequential, Time-Series
Multivariate
Text
Multivariate
Multivariate
Multivariate
Text
Multivariate
Multivariate
Multivariate
Sequential
Multivariate
Multivariate
Multivariate
Multivariate, Sequential, Time-Series
Univariate, Domain-Theory
Multivariate
Multivariate, Time-Series

Multivariate
Multivariate, Time-Series
Multivariate, Time-Series
Multivariate
Text
Time-Series
Time-Series
Multivariate
Multivariate
Multivariate
Multivariate, Sequential
Multivariate
Multivariate, Time-Series
Multivariate
Time-Series
Multivariate, Time-Series
Multivariate, Univariate, Sequential, Text
Multivariate
Multivariate
Multivariate

Multivariate, Time-Series
Multivariate
Multivariate
Text
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Sequential, Time-Series
Multivariate
Multivariate, Sequential, Time-Series, Domain-Theory
Multivariate
Multivariate, Time-Series
Multivariate
Multivariate, Sequential, Time-Series
Multivariate, Time-Series
Multivariate, Sequential, Time-Series
Multivariate
Multivariate, Sequential, Time-Series
Multivariate, Sequential, Time-Series
Multivariate
Multivariate
Multivariate, Sequential, Time-Series
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate, Time-Series, Domain-Theory
Multivariate, Time-Series
Multivariate
Time-Series
Multivariate
Multivariate, Sequential, Time-Series
Multivariate
Multivariate
Multivariate
Text
Multivariate
Multivariate
Multivariate, Time-Series
Text
Multivariate, Text
Multivariate, Sequential, Time-Series
Multivariate
Multivariate
Text
Multivariate, Time-Series
Multivariate, Sequential
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate, Time-Series
Multivariate, Time-Series

Multivariate
Multivariate
Multivariate
Sequential, Time-Series
Multivariate, Time-Series
Multivariate
Multivariate, Time-Series

Text
Multivariate
Multivariate
Multivariate
Multivariate, Sequential, Time-Series

Text
Multivariate
Multivariate
Text
Multivariate
Time-Series
Text


Multivariate, Time-Series
Multivariate
Sequential, Text
Multivariate, Text
Multivariate
Text
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Text

Sequential
Univariate
Univariate
Multivariate
Multivariate
Multivariate, Time-Series, Text
Multivariate
Multivariate
Multivariate, Sequential, Time-Series
Univariate, Domain-Theory
Multivariate
Text
Sequential
Multivariate
Multivariate
Multivariate, Sequential
Multivariate, Time-Series
Multivariate
Multivariate, Time-Series
Univariate
Multivariate
Multivariate, Text
Multivariate
Multivariate, Time-Series
Multivariate
Text
Time-Series
Multivariate, Text
Multivariate, Time-Series
Text
Multivariate
Multivariate
Multivariate, Text
Multivariate, Text
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate, Sequential, Time-Series
Multivariate
Multivariate
Univariate
Multivariate
Multivariate
Univariate
Time-Series
Time-Series
Multivariate
Multivariate, Text
Multivariate
Multivariate

Multivariate
Time-Series
Multivariate, Univariate, Sequential, Time-Series
Multivariate, Time-Series
Multivariate, Text
Multivariate, Text
Multivariate
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate, Sequential, Time-Series
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate
Multivariate, Univariate
Multivariate, Sequential
Text
Time-Series
Multivariate, Time-Series
Multivariate, Sequential, Time-Series, Text
Multivariate
Multivariate
Multivariate

Multivariate, Sequential, Time-Series
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Text
Multivariate, Time-Series, Text
Multivariate
Multivariate, Time-Series
Multivariate, Sequential, Time-Series
Multivariate
Multivariate
Multivariate
Multivariate
Time-Series
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate
Text
Multivariate
Multivariate
Multivariate, Time-Series, Text
Multivariate
Multivariate, Text
Multivariate, Sequential, Time-Series
Multivariate, Univariate
Multivariate
Multivariate, Univariate
Multivariate, Time-Series
Multivariate
Multivariate

Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate, Time-Series
Univariate
Multivariate
Multivariate
Multivariate, Sequential
Sequential, Time-Series
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate, Time-Series
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Multivariate
Text
Multivariate
Multivariate
Multivariate

Text
Text
Multivariate
Time-Series

In [61]:
tt=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in tt:
    print(i.text)
    Task.append(i.text)

Default Task
Classification
Classification
Classification
Recommender-Systems
Classification
Classification
Classification
Classification
Regression
Regression
Classification
Classification
Classification
Classification
Classification
Classification, Regression
Classification
Classification
Classification
Classification
Classification
Classification
Classification


Classification
Classification
Classification
Regression
Classification
Classification
Classification
Classification




Classification
Classification
Classification
Function-Learning
Classification
Classification
Classification
Classification
Classification
Classification

Classification
Classification
Classification
Classification
Classification
Relational-Learning

Classification
Classification
Classification


Classification
Classification
Classification
Classification

Classification
Classification
Classification
Classification

Classification
Classification
Classification
Classification
Classification

Classification
Classification
Classification
Classification
Classification


Classification
Regression
Classification
Regression
Classification
Classification
Regression
Classification
Classification
Classification
Classification
Clustering


Classification
Classification
Classification
Classification
Classification
Classification
Clustering
Classification
Classification
Classification
Classification
Classification


Classification
Classification
Clustering
Classification





Recommender-Systems
Classification
Regression, Description


Classification
Regression
Classification






Classification
Classification
Classification, Clustering
Classification

Classification
Classification
Classification
Classification
Classification
Classification
Classification
Classification

Classification
Classification





Classification
Classification
Classification
Classification
Regression
Classification
Clustering
Regression
Classification
Classification
Classification
Classification
Classification
Classification
Classification
Causal-Discovery
Classification
Classification, Clustering
Classification
Classification
Classification
Classification, Causal-Discovery
Clustering
Classification, Clustering
Regression
Regression
Classification
Classification, Regression
Classification
Classification
Regression
Classification

Classification
Classification
Classification
Classification
Classification
Classification
Classification
Classification
Regression
Classification

Regression
Classification
Classification
Classification
Regression
Classification
Classification
Classification
Classification
Regression, Clustering, Causal-Discovery
Classification, Clustering
Classification
Classification
Classification, Regression, Clustering
Classification, Regression, Clustering
Classification
Classification
Classification
Classification
Classification
Classification
Classification, Clustering
Classification
Classification
Classification

Classification
Regression, Clustering
Classification, Clustering
Classification

Classification
Classification, Clustering
Classification
Classification, Regression
Regression
Classification, Regression
Classification
Regression, Clustering
Classification, Regression
Regression, Classification
Classification
Classification
Classification
Classification
Classification
Classification
Classification
Classification, Clustering
Classification, Clustering
Classification
Clustering
Classification, Clustering
Classification
Classification
Regression
Classification
Classification
Classification
Classification, Clustering
Classification, Regression, Clustering, Causa
Classification, Clustering
Regression
Classification
Regression
Regression

Classification

Classification
Classification
Classification
Classification
Classification, Clustering
Classification
Classification, Clustering
Classification, Clustering
Classification
Classification, Clustering
Classification, Regression, Clustering
Regression
Classification, Clustering
Classification
Regression
Classification
Classification, Clustering
Classification
Classification, Clustering, Causal-Discovery
Classification, Regression, Clustering
Classification, Regression
Classification, Clustering
Classification, Clustering
Regression
Classification
Classification
Clustering
Classification, Regression
Classification, Regression
Classification, Regression
Classification
Classification, Clustering
Classification
Clustering
Classification, Regression
Regression
Classification, Clustering
Classification, Regression
Classification
Classification, Regression
Regression, Clustering
Classification, Regression
Classification, Causal-Discovery
Classification
Classification
Classification, Clustering
Classification
Regression
Classification
Classification
Classification
Classification, Regression
Classification
Regression, Clustering, Causal-Discovery
Regression
Classification
Classification
Classification, Clustering
Clustering, Causal-Discovery
Classification, Regression
Classification
Classification, Clustering
Classification, Regression, Clustering
Classification, Clustering
Classification, Regression, Clustering
Classification
Classification
Classification, Regression, Clustering
Classification
Classification
Classification, Clustering
Causal-Discovery
Classification, Regression
Classification
Classification
Classification, Regression, Clustering
Classification, Clustering
Regression
Classification, Regression
Classification
Regression
Classification
Classification
Classification
Classification
Regression
Causal-Discovery
Clustering
Classification, Clustering
Classification
Regression
Classification, Clustering, Causal-Discovery
Classification, Regression
Classification, Regression, Clustering
Classification, Regression, Clustering
Classification
Classification
Regression
Classification, Regression
Classification
Classification
Causal-Discovery
Classification, Clustering
Regression
Classification, Clustering
Classification
Regression
Classification, Clustering
Classification, Regression
Classification
Regression
Classification, Regression, Clustering
Clustering
Classification, Regression

Classification
Classification
Classification, Clustering
Classification
Classification, Clustering
Classification
Classification, Clustering
Classification, Clustering
Classification, Clustering
Classification
Regression
Classification, Regression
Classification
Classification
Classification, Regression
Classification
Clustering
Clustering
Classification
Classification
Classification
Classification
Classification
Classification
Classification
Classification, Regression
Classification
Classification
Classification
Classification
Classification
Classification
Classification
Regression
Classification
Classification, Clustering
Classification, Clustering
Classification, Regression
Regression
Clustering
Classification
Regression
Clustering
Classification, Clustering
Classification, Clustering
Classification, Clustering
Classification, Regression
Regression
Classification, Regression
Classification
Classification
Regression
Classification, Clustering
Classification
Classification
Classification
Classification, Regression
Classification
Classification
Recommendation
Classification, Regression, Clustering
Classification, Regression, Clustering
Classification
Regression
Classification, Regression
Regression
Classification
Classification, Clustering
Classification
Classification
Classification, Regression
Classification
Classification
Classification
Classification
Classification, Clustering
Regression
Classification
Classification
Classification
Classification
Classification, Regression, Clustering
Classification, Regression
Classification, Clustering
Classification, Clustering
Classification
Classification, Regression
Clustering
Classification

Regression
Regression, Clustering
Regression
Regression
Classification, Regression, Clustering
Classification
Regression, Clustering
Classification
Classification, Clustering
Regression
Classification, Regression, Clustering
Classification
Regression
Regression
Classification
Classification
Classification
Classification
Classification, Regression
Regression
Classification, Clustering
Regression
Regression
Classification, Regression
Classification, Clustering, Causal-Discovery
Classification
Classification
Classification, Regression, Clustering
Classification
Classification, Clustering
Classification, Regression, Clustering
Classification, Clustering
Classification
Classification
Classification, Clustering
Classification
Classification
Classification
Classification
Clustering
Regression
Classification
Regression
Classification
Classification, Regression, Causal-Discovery
Classification, Clustering
Classification
Classification
Classification, Clustering
Classification
Classification
Classification
Classification, Regression, Clustering
Classification
Clustering
Classification, Regression
Classification, Clustering
Causal-Discovery
Clustering
Regression, Clustering
Classification
Classification, Regression, Clustering
Classification, Regression
Classification, Regression, Clustering
Classification, Clustering
Classification
Classification
Classification, Regression
Regression
Classification
Classification, Clustering
Classification, Regression
Classification
Classification, Regression
Classification, Clustering
Classification
Classification
Classification
Classification
Classification, Clustering
Classification
Classification, Regression, Clustering
Regression
Classification
Classification
Classification, Clustering
Classification

In [62]:
at=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in at:
    print(i.text)
    Attribute_type.append(i.text)

Attribute Types
Categorical, Integer, Real
Categorical, Integer
Categorical, Integer, Real
Categorical
Categorical, Integer, Real
Categorical, Integer, Real
Categorical
Categorical
Categorical, Real
Categorical, Integer, Real

Categorical
Categorical
Categorical
Integer
Real
Real
Categorical, Integer
Categorical
Categorical, Integer
Categorical, Integer
Categorical
Categorical, Integer

Categorical, Integer
Categorical
Categorical, Integer, Real
Categorical, Real, Integer
Integer
Categorical, Integer
Categorical, Integer
Categorical, Integer, Real
Categorical, Integer
Categorical, Integer
Real


Categorical, Integer, Real
Real
Categorical, Integer
Real
Real
Integer
Categorical
Categorical, Integer, Real
Categorical, Integer, Real
Categorical, Integer, Real
Real
Real
Categorical, Integer, Real
Integer, Real
Real
Real
Categorical
Categorical, Integer, Real
Categorical
Categorical
Integer
Categorical, Integer, Real

Integer
Categorical
Categorical, Integer, Real
Categorical, Integer, Real
Categorical, Integer, Real
Categorical
Categorical
Categorical
Categorical

Integer, Real
Categorical
Integer
Integer
Categorical

Integer, Real
Integer
Integer
Categorical, Integer
Categorical


Real
Categorical, Integer
Categorical
Categorical
Categorical
Categorical
Integer
Integer, Real
Integer, Real
Categorical
Integer
Categorical, Integer


Categorical, Integer
Categorical
Categorical, Real
Categorical
Categorical, Integer
Categorical
Integer, Real
Real
Real
Integer, Real
Real
Categorical, Integer


Categorical, Real
Real
Categorical
Categorical, Integer
Categorical, Real
Real

Categorical, Integer, Real
Integer, Real
Categorical
Integer
Categorical, Integer
Categorical, Integer
Categorical, Integer
Real
Categorical, Integer
Categorical, Integer


Categorical

Categorical, Real

Categorical
Integer
Real
Categorical


Categorical, Integer, Real
Categorical, Integer
Categorical, Real
Integer
Real
Integer
Integer
Categorical
Real
Real


Real
Categorical, Integer
Categorical, Integer
Categorical, Integer
Real
Integer
Integer
Real

Integer
Real
Real
Real
Integer
Integer
Integer
Real
Real
Integer
Real
Real
Real
Integer
Integer
Real
Categorical
Real
Real
Real
Categorical, Integer
Real
Integer, Real
Real
Integer, Real
Integer

Real
Real
Real
Real
Real
Categorical, Integer, Real
Integer, Real
Real
Real
Real

Real
Integer
Integer, Real
Real
Real
Real
Real
Real
Real

Real


Integer, Real
Integer, Real
Real

Real
Integer, Real
Real
Real
Real
Real
Real
Real

Integer
Real
Real
Integer, Real
Integer


Real
Integer, Real
Real
Real
Real
Real
Real
Integer, Real
Real
Integer, Real
Real
Real
Real
Integer, Real

Real
Integer
Real


Real
Integer, Real
Real
Real
Real
Integer
Integer, Real
Real

Integer, Real
Real
Real
Integer, Real
Integer, Real
Integer, Real
Real
Real
Real

Real


Real
Real
Real

Real
Real
Integer

Real

Integer

Real
Integer, Real
Integer, Real
Real
Integer
Integer, Real
Real


Real
Real
Integer, Real
Integer
Integer, Real
Real

Real
Real
Real
Real
Real
Integer
Real
Real
Integer, Real

Real
Real
Integer
Real
Integer, Real
Categorical

Integer, Real


Integer, Real
Real
Real

Real
Real
Real
Real
Integer, Real
Real
Integer
Real
Real
Integer
Integer, Real
Real
Integer, Real
Integer
Real
Real
Real
Real

Real
Real
Real
Integer, Real
Real
Real
Real

Integer

Integer
Real
Real
Real
Integer
Integer
Integer, Real
Real
Integer

Integer, Real
Integer
Integer, Real
Real
Integer
Real
Real
Integer, Real
Integer
Real
Integer, Real
Integer, Real
Integer, Real
Integer, Real
Integer
Integer, Real
Integer

Integer, Real

Real
Real

Integer
Real
Real
Integer
Real
Integer
Integer
Integer, Real
Integer, Real
Integer
Integer
Real
Integer
Integer, Real
Integer
Integer
Integer
Integer, Real
Real
Integer, Real
Integer

Integer
Real
Integer, Real
Integer, Real
Real

Integer, Real
Real

Integer
Real
Real
Real
Integer
Integer
Real
Real
Integer, Real

Real
Real
Integer, Real
Integer
Integer
Real


Integer
Integer
Integer

Real
Categorical
Integer
Integer
Integer
Real
Real
Real

Integer, Real

Integer, Real
Real
Integer


Real
Real
Integer, Real
Real
Integer
Real
Real
Real
Integer, Real
Real
Real
Integer
Real
Integer

Integer, Real
Real
Real
Real
Real
Integer
Integer
Integer
Real
Integer, Real
Integer, Real
Integer, Real
Real
Real
Integer, Real
Real



Integer, Real
Integer
Integer, Real
Real
Real
Real
Real
Real
Integer, Real
Real
Real
Integer, Real
Integer
Real
Real
Integer, Real

Integer, Real


Integer, Real
Integer

Real

Real
Integer

Integer
Integer, Real
Integer, Real


Integer
Real
Integer, Real
Real
Real
Integer
Real
Real
Real
Integer, Real
Real



Real
Real
Integer, Real
Real

Integer
Real
Integer, Real
Integer

Integer
Real

Integer, Real
Integer
Integer, Real
Integer



Real

In [63]:
ni=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in ni:
    print(i.text)
    No_instances.append(i.text)

# Instances
4177
48842
798
37711
452
6000
226
226
398
205
294
625
16
286
699
198
569
108
1728
48842

3196
28056

100
67557
690
125
209
1473
581012
512
366




132
336
194
352
214
306
160
303
155
368

2310
3279
351
150
7797
104
57

24
20000
345

32
148
209
528

106
128
3190
432
202
2000
8124
476
6598
12960

5473
5620
10992
90
339



167
15
1389
307
47
23
531
4601
267
267
76

1000
151
958
7200
10
285
435
527
5000
5000
178
1484
101

20000
6650
2565
2458285
299285
340
68040

122
178080
50672
640
9000
10104
256932
640
191779
4000000

10000
989818
129000

100000
21578
463
600
332


690
1000
270
6435
2310
58000
946
20008
208
528


1024
10080
50400
1025010
19020
1364
961
517
200
8000000
1030
606
900
2600
1950
13500
4400
2536
300
197
2858
748
11640
1593
1567
22632
360
103
1994
120
4898
2396130
16772
5875
503
51
106
2126
5456
8800
164860

1941
130065
515345
440

53500
8235

5749132
2215
310
10000
3000
1500
30000
2500
4143
64
53414
65554
45211
1138562
13910
583
2551
34465
5574
245057
182
3850505
138
1080
2075259
210
115
3960456

10299
1600
768
308
100
237
434874
536
140000
6118
165632
18000
540
931
1055
100
9120
403
111740
10421
5820
403
14980
45730
2584
1372
306
120000
13910
2747
3395
39242
4137
17389
51
470
132
5000000
11000000
250
126

4889


340
501
45781
1503
440
2000
9568
168
100000
5665
79
127
1040
9900
560
60021
1419
101
399
58
180
21048

750
3000
150
1059
11934
27965
216
120
649
370
4178504
221579
10800
58509
129685
2456
2921
1151
6590
3000
39797
326
913
168286
400
314080
637
1710671
12000
10929
1080
40000
43930257
230318
10500000
13197

30000
324
541909
11164866
163
373
20560
40
422937
9358
640
919438
40949
5744
10503
42240
102944
500
9782222
11463
17898
1885
19735
1540
4007
153540
606
1353
1956
43824
3942
858
287
17764280
106574
9358
11500
92000
315
78095
130
74
52854
77
811
504
401
2856
10546
801
1540
1451
1075
78095
7195
3600
76
60
405
303
303
107888
76000
10000
180
745000
12234
292
104
60000
2000
165
217
1175
704
75128
90
90
50
71
93239
540
105
6611
15
372
58000
4960
241600
130000
7062606
740
70
2205
10721
640
1000
116
1672
322
93600
3060
5879
9200
20000
20867

4143
215063
6000000
21263
63000000
10190
300
12330
5180
756
10000
80
1184
1047
777
249
414

143
7840
30000
35717
135
980
5456
120
4095000
7051
240
48204
260000
288000
8300000
125
170
141712
3916
6262
420768
1067371
1385
908
546
13956534
15630426
8992
1687
779
1056
590
21643
7750
14057567
27170754
597
329
299
20000
26136
1000
399
24017
325834
2916697
22470
189
520
826
2279
28764
7107
288000
9800
4760
72
1450
170
1984
2955
65532
65919
2111
3810
18
244
104
139
360177
36733
4480
165474
1985
10000
232
150
11
14057567
8760
48
6321
3150
17256
187
399
14
467
597
23700
615
6819
1000

2633
200
13028
800

In [64]:
na=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in na:
    print(i.text)
    No_attribute.append(i.text)

# Attributes
8
14
38
294
279
7

69
8
26
1
4
4
9
10
34
32
13
6
14
22
36
6

6
42
15

9
9
54
39
33
20



12
8
30

10
3
5
75
19
27

19
1558
34
4
617
12
16
7
4
16
7

56
18
8
22

58

61
7

649
22
168
168
8

10
64
16
8
17


72
4
6
10
35
35
4
102
57
22
44
45


5
9
21
32
17
16
38
21
40
13
8
17


15
22
68
40
17
89

4
12


86
72
61
12
481
42






5
90

5


14
20
13
36
19
9
18
4
60
10


10
4
3
11
11

6
13

100000
9
101
10000
20000
100000
5000
500
73
43
23
3
5

256
591
70
91
10
128
6
12
3231961
5409
26


10
23
24
13
8

27
50
90
138672

386


12
147
6
8
27
10000
20000
10000
54877
4702
24
29
17
3
128
10
242
120

4
13
52
47
857
9
7
200
4

561
64
8
7
10
9
4
8
77
51
18
1950000
18
1300
41
6
5625
5

7
33
5
15
9
19
5
5
1000000
129

20
152
24
16
35
17
5
18
28
7
309
3
6


16
13
5
6
8
2
4
148
55
17
8
42
26
50
2
281
120

6
120432
150000
529

16
2500
5
68
16
100
216
23
33
140256
19
20
20
49
12
30
5232
20
1

61
27
53
11
25
0
20
9
3
561
82
13
16
13
28
4

24
34
8
128
15
513
7
7
5
15
480000
11
54
561
64
6
116
19

5812
9
32
29
67

25
6400
10
5
13
98
36
69
2158859
518
15
179

12
38
65
102
86
7
53
20
1
71
29
20531
65
3
22
38
22
4814
698
13
10
59
56
482
171
5
500
411
8519
21
21
171
7
49
12
3
21
9
8
7
2
11
11
173
5
15
3
105
25000

18
21000
115
21
206
43680
8
10
59
10
5
5
1000
138

16
2
10

8
6
129
81
12
6
22
18
9
754
14
5


18
7
7

7
5
6
4
18
11
25

20
12
46
9
8
49
11
8
54
36
3916
710
18
8
29
7
9
37
6
1024
1024
14
7
8265
29
25
3
115
1
12
13
200000
6
21
4
2400
175
10
4714
23
17
2
9
8
280
49
3
14
19

54
8
1087
12
3
17
8
9
12
1656
6
2
11
533
14
84
22
16
52
19
3
14
321
13
13
55
39
4
7
79
1

14
96
21

5
2
69
9

In [49]:
yy=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in yy:
    print(i.text)
    Year.append(i.text)

Year
1995
1996

1998
1998
1992
1987
1992
1993
1987
1994
1994

1988
1992
1995
1995
1990
1997
1996
1988
1989
1994


1995

1992
1987
1997
1998
1995
1998


1994

1989
1996
1990
1990
1987
1999
1989
1988
1988
1989

1990
1998
1989
1988
1994
1990
1988
1988
1990
1991
1990

1992
1988
1990
1996
1995
1990

1992
1992
1994

1987
1994
1994
1997
1991
1995
1998
1998
1993
1988


1992
1993
1988
1989
1988
1987
1993
1988
1999
2001
2001

1992
1993
1997
1991
1987
1994
1988
1987
1993
1988
1988
1991
1996
1990

1999
1999
2002

2000
1999
1999
2001
1999
1999
2000
1999
2000
1999
1999

1998
1999
2001
1999

2003
1999
1999
1997
1999
1999
1998



1994

1993
1990







1989
2006
2006
2007
2007
2007
2007
2008
2008
2008
2007
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2009
2008
2008
2008
2009
2009
2009
2009
2009
2009
2010
2009
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2014
2013
2013
2013
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2013
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2015
2014
2014
2015
2015
2015
2015
2015
2015
2015
2015
2014
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2016
2016
2015
2016
2016
2015
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2017
2016
2017
2016
2017
2017
2016
2016
2017
2017
2016
2017
2017
2017
2017
2016
2017
2016
2016
2016
2017
2017
2017
2017
2017
2017
2017
2016
2016
2016
2016
2017
2017
2017
2017
2017
2016
2017
2017
2017
2017
2017
2017
2017
2016
2016
2016
2017
2017
2017
2017
2017
2017
2017
2017
2016
2018
2018
2016
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2019
2019
2018
2018
2018
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2020
2020
2019
2020
2020
2020
2020
2020
2019
2020
2020
2020
2020
2020
2020
2020
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020
2020

In [51]:
df=pd.DataFrame({"Name":Dataset_name[0:15],
                "Year":Year[0:15],
                "Data type":Data_type[0:15],
                "Attribute_type":Attribute_type[0:15],
                 "Task":Task[0:15],
                 "No of instances":No_instances[0:15],
                 "No of atrributes":No_attribute[0:15]
                  })

In [52]:
df

,Name,Year,Data type,Attribute_type,Task,No of instances,No of atrributes
0,Abalone,Year,Classification (419)\nRegression (129)\nCluste...,Attribute Types,Default Task,# Instances,# Attributes
1,Adult,1995,Categorical (38)\nNumerical (376)\nMixed (55),"Categorical, Integer, Real",Classification,4177,8
2,Annealing,1996,Multivariate (435)\nUnivariate (27)\nSequentia...,"Categorical, Integer",Classification,48842,14
3,Anonymous Microsoft Web Data,,Life Sciences (132)\nPhysical Sciences (56)\nC...,"Categorical, Integer, Real",Classification,798,38
4,Arrhythmia,1998,Less than 10 (142)\n10 to 100 (253)\nGreater t...,Categorical,Recommender-Systems,37711,294
5,Artificial Characters,1998,Less than 100 (32)\n100 to 1000 (191)\nGreater...,"Categorical, Integer, Real",Classification,452,279
6,Audiology (Original),1992,Matrix (388)\nNon-Matrix (171),"Categorical, Integer, Real",Classification,6000,7
7,Audiology (Standardized),1987,Table View List View,Categorical,Classification,226,
8,Auto MPG,1992,Abalone,Categorical,Classification,226,69
9,Automobile,1993,Multivariate,"Categorical, Real",Regression,398,8
10,Badges,1987,Classification,"Categorical, Integer, Real",Regression,205,26
11,Balance Scale,1994,"Categorical, Integer, Real",,Classification,294,1
12,Balloons,1994,4177,Categorical,Classification,625,4
13,Breast Cancer,,8,Categorical,Classification,16,4
14,Breast Cancer Wisconsin (Original),1988,1995,Categorical,Classification,286,9

# 6. Scrape the details of top 100 songs on billiboard.com.

In [2]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [3]:
url="https://www.billboard.com/"

In [4]:
driver.get(url)

In [5]:
hot=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a")
try:
    hot.click()
except ElementNotInteractableException:
    driver.get(hot.get_attribute('href'))

In [6]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [7]:
sn=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in sn:
    print(i.text)
    Song_name.append(i.text)

Drivers License
Mood
Blinding Lights
34+35
Levitating
Go Crazy
Positions
Save Your Tears
Holy
Whoopty
Good Days
Lonely
What You Know Bout Love
Therefore I Am
For The Night
Bang!
Better Together
Streets
I Hope
Body
Dakiti
Lemonade
You Broke Me First.
Laugh Now Cry Later
My Ex's Best Friend
Wasted On You
You're Mines Still
Anyone
Willow
On Me
Good Time
Sand In My Boots
Throat Baby (Go Baby)
Before You Go
7 Summers
Starting Over
Back In Blood
More Than My Hometown
Finesse Out The Gang Way
Hole In The Bottle
Kings & Queens
Best Friend
Cry Baby
Rockstar
Afterglow
Dynamite
Happy Does
Somebody's Problem
Whats Poppin
Put Your Records On
Damage
Without You
Should've Ducked
Just The Way
Beers And Sunshine
Down To One
What's Your Country Song
Beat Box
Diamonds
The Good Ones
Golden
Buss It
Goosebumps
Monsters
Long Live
Tyler Herro
Cover Me Up
Forever After All
Back To The Streets
Still Trappin'
Gravity
Bichota
Bad Boy
Baila Conmigo
Lady
Still Goin Down
865
So Done
Warning
Holiday
Hell Of A View
Girl Like Me
Momma's House
Big, Big Plans
Monster
Heat Waves
Stay Down
Somebody Like That
Skin
Moonwalking In Calabasas
Kanye Krazy
Pick Up Your Feelings
You Got It
One Too Many
Backdoor
Fake Woke
Prisoner
Dangerous
Almost Maybes
Mr. Right Now

In [8]:
an=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in an:
    print(i.text)
    Artist_name.append(i.text)

Olivia Rodrigo
24kGoldn Featuring iann dior
The Weeknd
Ariana Grande
Dua Lipa Featuring DaBaby
Chris Brown & Young Thug
Ariana Grande
The Weeknd
Justin Bieber Featuring Chance The Rapper
CJ
SZA
Justin Bieber & benny blanco
Pop Smoke
Billie Eilish
Pop Smoke Featuring Lil Baby & DaBaby
AJR
Luke Combs
Doja Cat
Gabby Barrett Featuring Charlie Puth
Megan Thee Stallion
Bad Bunny & Jhay Cortez
Internet Money & Gunna Featuring Don Toliver & NAV
Tate McRae
Drake Featuring Lil Durk
Machine Gun Kelly X blackbear
Morgan Wallen
Yung Bleu Featuring Drake
Justin Bieber
Taylor Swift
Lil Baby
Niko Moon
Morgan Wallen
BRS Kash
Lewis Capaldi
Morgan Wallen
Chris Stapleton
Pooh Shiesty Featuring Lil Durk
Morgan Wallen
Lil Durk Featuring Lil Baby
Kelsea Ballerini
Ava Max
Saweetie Featuring Doja Cat
Megan Thee Stallion Featuring DaBaby
DaBaby Featuring Roddy Ricch
Ed Sheeran
BTS
Kenny Chesney
Morgan Wallen
Jack Harlow Featuring DaBaby, Tory Lanez & Lil Wayne
Ritt Momney
H.E.R.
The Kid LAROI
Lil Durk Featuring Pooh Shiesty
Parmalee x Blanco Brown
Darius Rucker
Luke Bryan
Thomas Rhett
SpotemGottem
Sam Smith
Gabby Barrett
Harry Styles
Erica Banks
Travis Scott & HVME
All Time Low Featuring Demi Lovato & blackbear
Florida Georgia Line
Jack Harlow
Morgan Wallen
Luke Combs
Saweetie Featuring Jhene Aiko
Lil Durk & King Von
Brent Faiyaz & DJ Dahi Featuring Tyler, The Creator
Karol G
Juice WRLD & Young Thug
Selena Gomez With Rauw Alejandro
Brett Young
Morgan Wallen
Morgan Wallen
The Kid LAROI
Morgan Wallen
Lil Nas X
Eric Church
Black Eyed Peas X Shakira
Dustin Lynch
Chris Lane
Shawn Mendes & Justin Bieber
Glass Animals
Lil Durk, 6LACK & Young Thug
Tenille Arts
Sabrina Carpenter
DDG
Lil Durk
Jazmine Sullivan
VEDO
Keith Urban Duet With P!nk
Lil Durk
Tom MacDonald
Miley Cyrus Featuring Dua Lipa
Morgan Wallen
Jordan Davis
21 Savage & Metro Boomin Featuring Drake

In [9]:
lr=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lr:
    print(i.text)
    Last_week_rank.append(i.text)

1
2
3
4
5
6
7
14
8
16
9
13
19
12
11
10
15
25
17
18
20
21
27
22
34
31
32
26
28
29
37
38
24
33
23
36
40
30
-
42
35
45
54
41
39
46
50
43
44
55
52
47
-
56
53
58
59
60
49
64
65
67
73
69
68
63
74
66
61
84
-
75
57
-
86
72
77
79
76
71
90
85
87
82
70
91
-
89
48
88
-
-
95
96
-
-
81
-
-
80

In [10]:
pk=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in pk:
    print(i.text)
    Peak_rank.append(i.text)

1
1
1
2
5
5
1
8
3
10
9
12
13
2
6
8
15
18
3
12
5
6
23
2
25
9
27
6
1
29
31
32
24
9
6
25
37
15
39
40
13
39
43
1
29
1
47
25
2
50
51
47
53
54
53
56
57
58
39
60
61
62
63
64
65
34
52
2
58
53
71
72
22
74
75
45
46
59
42
37
81
82
83
42
8
86
73
88
48
82
91
92
87
62
62
96
54
62
95
10

In [12]:
wb=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in wb:
    print(i.text)
    Weeks_on_board.append(i.text)

4
26
61
14
18
39
15
8
20
13
6
16
22
13
31
31
18
4
58
11
14
25
24
25
25
4
9
5
8
9
18
4
16
50
24
23
5
32
1
16
26
4
9
41
7
24
12
8
51
16
8
9
1
6
8
6
7
3
20
6
15
4
3
6
5
15
5
15
11
6
1
10
3
1
4
7
4
13
4
12
4
4
4
18
11
3
4
3
2
6
1
2
6
8
4
1
11
3
2
18

In [13]:
df=pd.DataFrame({"Song_name":Song_name[0:15],
                "Artist_name":Artist_name[0:15],
                "Last_week_rank":Last_week_rank[0:15],
                "Peak_rank":Peak_rank[0:15],
                 "Weeks_on_board":Weeks_on_board[0:15]
                 
                  })

In [14]:
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
5,Go Crazy,Chris Brown & Young Thug,6,5,39
6,Positions,Ariana Grande,7,1,15
7,Save Your Tears,The Weeknd,14,8,8
8,Holy,Justin Bieber Featuring Chance The Rapper,8,3,20
9,Whoopty,CJ,16,10,13
10,Good Days,SZA,9,9,6
11,Lonely,Justin Bieber & benny blanco,13,12,16
12,What You Know Bout Love,Pop Smoke,19,13,22
13,Therefore I Am,Billie Eilish,12,2,13
14,For The Night,Pop Smoke Featuring Lil Baby & DaBaby,11,6,31

In [15]:
driver.close()