# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [18]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [19]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [20]:
driver.get(url)

In [21]:
job=[]
company=[]
location=[]
experience=[]

In [22]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="dac1cfe4-5d64-4f2f-b648-1bc46f7a5a37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="9dd6cb1b-710e-45e0-a2fb-0ee92352169a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="f225f967-d3df-4275-9040-595e2b34f114")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="7d4ffdc7-edec-4793-b4d9-144b4d87b975")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="69bb7474-1cb5-417f-89ce-831e8c0b637a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="7edaaaa2-318c-4a35-b3d6-a5c6f9fa2762")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="629bb6da-da54-42b0-bba0-3a33a9e78fda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="2e970eca-af0b-4410-837d-b50b7d4fc27c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="fdc5e79e-a0f0-4659-8b2a-f30b83b64ac7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="2671211f-2fdb-42d0-8f1d-3811f82db1e4")>]

In [23]:
for i in title:
    t=i.text
    job.append(t)
    
job[0:10]

['Business Analyst/ Data Analyst/ MIS Executive (On Contract)',
 'Data Scientist/Data Analyst-immediate',
 'Data Analyst',
 'Data Analyst',
 'ID&A - Data Analyst - Informatica MDM',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - Database Design/Mining',
 'Data Analyst - MySQL/PostgreSQL']

In [24]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="378f7668-1400-49ff-a3cb-9a264462c394")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="97424304-514c-4316-864b-d372f2b49278")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="a74affa3-0bc6-46de-90da-0def7d326bfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="df7c5bc5-5071-465b-a685-99388b957ab5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="ee278eae-25c7-4c55-8567-521e680f234a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="812a6d83-c1e9-4d6c-b736-9ba722fe8f8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="ec11d847-4be3-4118-a006-d6da2ec9681f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="afe6cc76-42fd-42bd-96c3-2f20958be2df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="57e8e0b9-3a08-4efa-8b8c-e54f9eacef23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="c148638e-33b1-46d3-83c6-958261c7ff1f")>]

In [25]:
for i in companies_tags:
    company_name=i.text
    company.append(company_name)

company[0:10]

['Schneider Electric',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Applied Materials',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Shell India Markets Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Shell India Markets Private Limited',
 'AugmatrixGo',
 'Astegic']

In [26]:
e=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
e[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="e0b4904d-b3d8-43a5-a5ea-a6a19daa3d71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="d087c9da-ff16-4e55-ac44-bf85c39c18c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="2b1c26f5-59a9-4b85-b908-6fb1b417e8e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="2743ff28-a047-40e6-a7d4-7ca0ddba3e60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="c86da9c0-5ddc-443e-921c-e4dccbbb2f3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="991f3835-6b03-4d25-9631-b39c12f0d769")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="62e6055a-5224-49af-8fc5-ba392466f221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="56367ace-34ae-4c8d-8380-e81bc8c51e3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="68ab46f1-ee77-4a01-9701-2df07be34257")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="be20a372-2961-48fa-a0e2-a6ca8de1c0d3")>]

In [27]:
for i in e:
    ex=i.text
    experience.append(ex)

experience[0:10]

['2-5 Yrs',
 '0-3 Yrs',
 '6-11 Yrs',
 '2-3 Yrs',
 '6-9 Yrs',
 '2-7 Yrs',
 '3-4 Yrs',
 '5-8 Yrs',
 '2-5 Yrs',
 '5-10 Yrs']

In [28]:
l=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
l[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="a64ce6d5-e9fb-4761-8423-4b5c0a57c51a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="a389cd2c-5611-4aaa-83bb-0c9432e459d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="70c05b6f-c936-4e8b-a125-fd8d9ca780af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="4c7eb9c8-897a-49cf-bd58-d37250c7a741")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="124aa586-da9b-411d-8c8d-9e79cf0fc285")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="2ca9d900-afbb-4e1a-bc26-02dd52662b0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="f766b5ed-614a-4e33-b2af-18be39101a4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="be00b95a-b875-4a97-a14b-e51111901e6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="29ed86e1-d1bf-47f9-a381-73f41f9c3beb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25f985d1b5c040e806f8c77b9caeea93", element="35d135e9-a5fa-41e7-89d1-0b234b037843")>]

In [29]:
for i in l:
    ex=i.text
    location.append(ex)

location[0:10]

['Bengaluru / Bangalore',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, Kolkata',
 'Bengaluru',
 'Bengaluru',
 'Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur']

In [30]:
df=pd.DataFrame({"job":job[0:10],
                "location":location[0:10],
                "company":company[0:10],
                "experience":experience[0:10]})

In [31]:
df

,job,location,company,experience
0,Business Analyst/ Data Analyst/ MIS Executive ...,Bengaluru / Bangalore,Schneider Electric,2-5 Yrs
1,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
2,Data Analyst,Bengaluru,Applied Materials,6-11 Yrs
3,Data Analyst,"Mumbai, Bengaluru, Hyderabad",Cognizant Technology Solutions India Pvt Ltd,2-3 Yrs
4,ID&A - Data Analyst - Informatica MDM,Bengaluru,Shell India Markets Private Limited,6-9 Yrs
5,Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs
6,Data Analyst,"Bengaluru, Kolkata",Cognizant Technology Solutions India Pvt Ltd,3-4 Yrs
7,Data Analyst,Bengaluru,Shell India Markets Private Limited,5-8 Yrs
8,Business Data Analyst - Database Design/Mining,Bengaluru,AugmatrixGo,2-5 Yrs
9,Data Analyst - MySQL/PostgreSQL,"Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur",Astegic,5-10 Yrs

In [32]:
driver.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [51]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [52]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [53]:
driver.get(url)

In [54]:
job=[]
company=[]
location=[]
description=[]

In [55]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="5c25fa87-bac7-4926-9c73-96c48e9f5faa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="1c6eb0de-6fda-4d57-9b5f-4d4358882c22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="51458461-aeae-4d22-9e46-3809f63973b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="e95e6681-57c1-4cce-9f72-39ad912dac37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="cd931f93-10fc-454d-af2e-ca009c7df2b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="a5f05d7f-f525-4bd4-83e6-3dbcae03e054")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="cebf1579-fb4a-40c9-9268-0c05022bfa4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="0a96275b-6f09-42fb-b820-a6e150553174")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="15e6d87d-7708-4423-810c-ff89a0616c69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="69a0aae2-02b2-46ea-be33-9ff93e7b0b7e")>]

In [56]:
for i in title:
    t=i.text
    job.append(t)
    
job[0:10]

['Data Scientist/Data Analyst-immediate',
 'HCL hiring Data scientist with exp in machine learning &SQL-Bangalore!',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning',
 'Senior Associate - Data Scientist/ML Engineer',
 'Senior Data Scientist',
 'Data Scientist - Machine Learning - Remote Working',
 'Software Developer - Data Scientist / NLP / Machine Learning',
 'Sr. Data Scientist']

In [57]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="35aa0a61-e170-4bc9-92ab-85cb09a02705")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="d8cea59d-e420-445d-b201-614da6c3164c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="780ce085-9307-4c18-805f-8deb5d2e1eab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="b2869146-8dfa-404d-85a9-2597b1f45611")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="08f4c10b-c8e2-4514-b9e0-a621a6dbce7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="ba1ac06e-9dea-4efd-a02c-c38f63de9584")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="10769255-3d65-4df2-9ac9-8f9937711202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="2a3ab1ee-246d-4ee2-b818-cd845bc66bf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="c3a33101-0790-4a70-bf04-9917bc41734a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="602da404-2947-43fa-bcbc-1f0ce2493883")>]

In [58]:
for i in companies_tags:
    company_name=i.text
    company.append(company_name)

company[0:10]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'HCL Technologies Limited',
 'AugmatrixGo',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Pricewaterhouse Coopers Private Limited',
 'Philips India Limited',
 'Doji Ltd',
 'Cunesoft India Private Limited',
 'NetApp']

In [59]:
head=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in head:
    print(i.text)
    job.append(i.text)

Data Scientist/Data Analyst-immediate
HCL hiring Data scientist with exp in machine learning &SQL-Bangalore!
Data Scientist - Machine Learning
Data Scientist - Machine Learning
Data Scientist - Machine Learning
Senior Associate - Data Scientist/ML Engineer
Senior Data Scientist
Data Scientist - Machine Learning - Remote Working
Software Developer - Data Scientist / NLP / Machine Learning
Sr. Data Scientist
Data Scientist
Advanced Architect - Data Scientist
Data Scientist (Healthcare/Pharma Domain preferred)
Data Scientist
AI Resident - Data Scientist
AI Resident Data Scientist Stats. Consl.
Data Scientist (ON Contract)
Senior Data Scientist
Data Scientist
Lead Data Scientist

In [60]:
des_url=[]
for i in head:
    print(i.get_attribute('href'))
    des_url.append(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-scientist-data-analyst-immediate-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=1611162755618940&xp=1&px=1
https://www.naukri.com/job-listings-hcl-hiring-data-scientist-with-exp-in-machine-learning-sql-bangalore-hcl-technologies-limited-bengaluru-bangalore-5-to-10-years-190121001223?src=jobsearchDesk&sid=1611162755618940&xp=2&px=1
https://www.naukri.com/job-listings-data-scientist-machine-learning-augmatrixgo-bengaluru-bangalore-2-to-5-years-140121905423?src=jobsearchDesk&sid=1611162755618940&xp=3&px=1
https://www.naukri.com/job-listings-data-scientist-machine-learning-blue-yonder-india-private-limited-bengaluru-bangalore-5-to-8-years-130121902169?src=jobsearchDesk&sid=1611162755618940&xp=4&px=1
https://www.naukri.com/job-listings-data-scientist-machine-learning-blue-yonder-india-private-limited-bengaluru-bangalore-3-to-5-years-130121902167?src=jobsearchDesk&sid=1611162755618940&xp=5&px=1
https://www.naukri.com/job-listings-senior-associate-data-scientist-ml-engineer-pricewaterhouse-coopers-private-limited-bengaluru-bangalore-3-to-8-years-080121501399?src=jobsearchDesk&sid=1611162755618940&xp=6&px=1
https://www.naukri.com/job-listings-senior-data-scientist-philips-india-limited-bengaluru-bangalore-8-to-12-years-110121501358?src=jobsearchDesk&sid=1611162755618940&xp=7&px=1
https://www.naukri.com/job-listings-data-scientist-machine-learning-remote-working-doji-ltd-delhi-ncr-bengaluru-bangalore-anywhere-in-india-2-to-5-years-171220006270?src=jobsearchDesk&sid=1611162755618940&xp=8&px=1
https://www.naukri.com/job-listings-software-developer-data-scientist-nlp-machine-learning-cunesoft-india-private-limited-bengaluru-bangalore-3-to-6-years-190121001281?src=jobsearchDesk&sid=1611162755618940&xp=9&px=1
https://www.naukri.com/job-listings-sr-data-scientist-netapp-india-private-limited-bengaluru-bangalore-10-to-15-years-080121903902?src=jobsearchDesk&sid=1611162755618940&xp=10&px=1
https://www.naukri.com/job-listings-data-scientist-genpact-india-private-limited-bengaluru-bangalore-5-to-10-years-120121008663?src=jobsearchDesk&sid=1611162755618940&xp=11&px=1
https://www.naukri.com/job-listings-advanced-architect-data-scientist-mphasis-limited-bengaluru-bangalore-12-to-18-years-070121905070?src=jobsearchDesk&sid=1611162755618940&xp=12&px=1
https://www.naukri.com/job-listings-data-scientist-healthcare-pharma-domain-preferred-genpact-india-private-limited-bengaluru-bangalore-6-to-10-years-070121010487?src=jobsearchDesk&sid=1611162755618940&xp=13&px=1
https://www.naukri.com/job-listings-data-scientist-24-7-customer-private-ltd-bengaluru-bangalore-2-to-4-years-200121501017?src=jobsearchDesk&sid=1611162755618940&xp=14&px=1
https://www.naukri.com/job-listings-ai-resident-data-scientist-shell-india-markets-private-limited-bengaluru-bangalore-3-to-5-years-130121906019?src=jobsearchDesk&sid=1611162755618940&xp=15&px=1
https://www.naukri.com/job-listings-ai-resident-data-scientist-stats-consl-shell-india-markets-private-limited-bengaluru-bangalore-3-to-5-years-130121903135?src=jobsearchDesk&sid=1611162755618940&xp=16&px=1
https://www.naukri.com/job-listings-data-scientist-on-contract-sandvik-asia-pvt-ltd-bengaluru-bangalore-4-to-8-years-041220002022?src=jobsearchDesk&sid=1611162755618940&xp=17&px=1
https://www.naukri.com/job-listings-senior-data-scientist-upgrad-education-pvt-ltd-mumbai-bengaluru-bangalore-4-to-6-years-091020003439?src=jobsearchDesk&sid=1611162755618940&xp=18&px=1
https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bengaluru-bangalore-4-to-7-years-150121903042?src=jobsearchDesk&sid=1611162755618940&xp=19&px=1
https://www.naukri.com/job-listings-lead-data-scientist-collabera-technologies-private-limited-bengaluru-bangalore-5-to-10-years-120121000460?src=jobsearchDesk&sid=1611162755618940&xp=20&px=1

In [65]:
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException
for i in des_url:
    driver.get(i)
    try:
        text=driver.find_element_by_xpath("//div[@class='dang-inner-html']").text
        description.append(text)
    except NoSuchElementException:
        description.append("no description")

In [44]:
description

['Dear Candidate\n\nSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pm\n\nOR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pm\nContact person :\n\nManigandan -+91 7299917200\nShantha +91 9790993237\n\n\nSystech Solutions\nTemple Steps\nTower 3, 6th Floor\n184-187 Anna Salai\nSaidapet, Chennai 600015\nIndia (Near Little Mount Metro Station)\nRoles and Responsibilities\n\nGreetings from CAIA !\nA great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data Visualization\nApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIn case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.\nWhat is needed from you?\n- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\n- Skills relating to Mathematics/Statistics.\n- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\n- Good verbal and written communication skills\n- Ability to understand domains in businesses across various sectors\n- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.\nSelection procedure includes\n- Online Aptitude Test\n- Logical Ability Test / Written Test\nOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.\nWhat you can expect from us?\nYou will get trained on the following modules for a period of 12-14 weeks:\n-SQL & PLSQL\n-Data Wrangling using Python\n-Statistics for Machine Learning,\n-Artificial Intelligence, Data Interpretation\n-Supervised & Unsupervised Learning,\n-NLP & Deep Learning\n-Cloud Data Lake\n-Business intelligence & Data Visualization\n-Simulation Projects\nWhat is the expected Outcome?\nAt the end of the Training you are expected to be well versed with the following:\n- Analysis of large and complex data sets from multiple sources\n- Development and evaluation of data analytics models, algorithms and solutions\n- Understanding/implementation of ML algorithms, performance tuning and reporting\n- Implementation of algorithms to mine targeted data and the ability to convert data into a business story\n- Translation of business requirements into technical requirements; Data extraction, preparation and transformation\n- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation\n- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nhttp://www.centerforaia.com/\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.\n5F World\n5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.\nSystech Solutions\nSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.\n\nWebsite\nhttp://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\n\n\nContact Person\nShantha/Manigandan\nPhone Number\n9790993237 / 7299917200\nEmail\nmanigandan@centerforaia.com\n\nDesired Candidate Profile\n\nPerks and Benefits',
 "Dear Candidate,\n\nGreetings from HCL!!!\nWe are looking for Data scientists with experience in machine learning algorithms and strong SQL experience.\nIf you are Keen with Below Skill Set. Please do send the Updated CV with details such as current ctc, expected ctc and notice period to m_divvya@hcl.com / 8754448290.We are looking only for immediate joiners. Candidates with more than 30 days notice please don't apply.\n\n\nTechnical Skills:\nOverall 5+ years of experience in advanced analytics and leading/mentoring team members\nProficient in Python & SQL with minimum 2-3 years of hands on experience\nSolid fundamentals, knowledge of supervised, unsupervised, reinforcement learning machine learning and deep learning algorithms, such as classifiers, cluster analysis, dimension reduction, regression, CNN, RNN, DQN, temporal difference methods, sequence modeling, probability theory, algorithm design and theory of computation, information retrieval\nAbility to work and execute projects on both structured and unstructured data in a big data environment • Strong at preparing data for analysis using SQL and experience working with the industry leading BI tools like Tableau, visualizing the data and executing to specifications\nExperience of end to end implementation of predictive analytics projects for at least 1-3 years • Exposure to text analytics, web scraping, big data technologies and graph databases would be desirable • Exposure to visualization tools • Experience of intent to learn software domain related to VMware products and the way virtualization software/hardware\n\nPreferred Skills:\nGood understanding of API connections and data pipelining • Knowledge with Natural Language Processing (e.g. word2vec, doc2vec, attention, LDA) • Understanding of different model performance metrics and hyperparameter optimization • Business Acumen, ability to translate business needs into a set of workable, specific requirements • Well versed with MS PowerPoint/Visio\nAbility to understand business requirements, KPIs and convert into analytical hypothesis in a structured and logical manner along with solution identification • Ability to handle multiple projects at a time in terms of multitasking, prioritization, allocation and team management • Ability to coordinate and work within multiple business units from project management perspective • Ability to work across geographies and interact with global stakeholders • Prior experience working in Agile methodologies/JIRA would be a plus\nWhat we are looking for:\nBS/BE in Computer Sciences, Math, Statistics or related field. Masters preferred.\nProficient in SQL and experience with efficient processing of large data sets. Ability to write sophisticated and optimized queries against large databases • Proficient in data visualization tools such as Mode Analytics or Tableau • Proficient in Excel • Experience in statistical computing with Python/R • Ability to handle several concurrent activities with strong organizational skills and attention to detail We're team players. You'll do well if you're one too",
 'Roles and Responsibilities\n\n\n- Selecting features, building and optimizing classifiers using machine learning techniques\n\n- Data mining using state-of-the-art methods\n\n- Enhancing data collection procedures to include information that is relevant for building analytic systems\n\n- Processing, cleansing, and verifying the integrity of data used for analysis\n\n- Doing ad-hoc analysis and presenting results in a clear manner\n\n- Creating automated anomaly detection systems and constant tracking of its performance\n\nSkills Required :\n\n- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.\n\n- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc\n\n- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization\n\n- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks\n\n- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable\n\n- Proficiency in using query languages such as SQL, Hive, Pig\n\n- Good applied statistics skills, such as distributions, statistical testing, regression, etc.\n\n- Good scripting and programming skills\n\n- Data-oriented personality\n\n- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS',
 'no description',
 'no description',
 'Day-to-Day Responsibilities\nDesign and develop data science, machine learning, natural language processing, deep learning and related solutions to address business needs.\nDesign and implement current state-of-art machine learning, algorithms related to Forecasting, Classification, Data/Text Mining, NLP, Computer Vision, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms.\nConverting the AI models into microservices and deploy them using dockers.\nDeploy AI models in production using docker with automated data pipelines.\nWork creatively and analytically to apply cutting edge techniques to specific challenges.\nAssist in the management and delivery of large data science projects.\nWork with a wide range of automation teams to validate findings and proposed analytics solutions.\nContinuously expand personal skill sets and stay up to speed on the latest A.I. trends, tools, methodologies, and techniques.\nSkills and Experience:\nDemonstrates extensive knowledge and/or a proven record of success in data analytics, including the following areas:\nIdeally at least 8 years of total experience and at least 6 years of relevant experience in the field of AI/ML.\nBachelor s or Master s Degree in Computer Science, Engineering or other technical discipline (BE, BTech, MCA).\nExperience in analyzing complex problems and translating them to data science algorithms with due attention to computational efficiency and testing at scale.\nExperience in machine learning, supervised and unsupervised: Forecasting,\nClassification, Data/Text Mining, NLP, Computer Vision, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms.\nWorked with at least one mainstream machine learning frameworks, including Caffe, ConvNet, Tensor Flow, Keras, Torch.\nWorking proficiency with SQL and relational databases, data warehouse.\nExperience with big data platforms - Hadoop (Hive, Pig, Map Reduce, HQL) / Spark / H20.\nExperience with Google Cloud Platform, AWS or Azure.\nExperience with GPU/CUDA for computational efficiency.\nStrong implementation experience with languages, such as Python, Java, or Scala and familiarity with Linux/Unix/Shell environments.\nStrong hands-on skills in sourcing, cleaning, identifying patterns and outliers, manipulating and analyzing large volumes of big data using distributed computing platform\nUnderstanding of NoSQL (Graph, Document, Columnar) database models, XML, relational and other database models and associated SQL.\nDemonstrates extensive abilities and/or a proven record of success in the application of statistical modelling, algorithms, data mining and machine learning algorithms problem solving.\nA track record of delivery within several large-scale projects, demonstrating ownership of architecture solutions and managing change.\nLeading, training and working with other data scientists in designing effective analytical approaches taking into consideration performance and scalability to large datasets.\nExperience manipulating and analyzing complex, high-volume, high-dimensionality data from varying sources.\nProven ability with NLP, Computer Vision and text-based extraction techniques.\nUnderstanding of not only how to develop data science analytic models but how to operationalize and deploy the models as microservices in production using Dockers and automated pipelines.\nDemonstrates extensive abilities and/or a proven record of success in the application of statistical or numerical methods, data mining, data wrangling and data-driven problem solving, including the following areas:\nUtilizing and applying knowledge commonly used data science packages including Spark, Pandas, SciPy, and Numpy.\nFamiliarity with deep learning architectures used for text analysis, computer vision and signal processing.\nUtilizing programming skills and knowledge on how to write models which can be directly used in production as part of a large-scale system.\nApplying techniques such as multivariate regressions, Bayesian probabilities, clustering algorithms, machine learning, dynamic programming, stochastic-processes, queuing theory, algorithmic knowledge to efficiently research and solve complex development problems and application of engineering methods to define, predict and evaluate the results obtained.\nDeveloping end to end deep learning solutions for structured and unstructured data problems.\nDeveloping and deploying A.I. solutions as part of a larger automation pipeline.\nUsing common cloud computing platforms including Azure, AWS and GCP in addition to their respective utilities for managing and manipulating large data sources, model, development, and deployment.\nVisualizing and communicating analytical results, using technologies such as HTML, JavaScript, Tableau, and Power BI.',
 'Job Description\nAt Philips, data is in the centre of everything we do. We believe that, every data item has a story of its own. If you have a penchant for unravelling the hidden patterns, then you are the person we are looking for!\nTo build our next generation smarts, you will be working with experts in a variety of fields, including clinical & regulatory specialists, UX designers, dental and skin care professionals, system architects, product management to integrate new technologies and refine system performance. You will help build learning systems, leveraging data sets consisting of user interactions and actions, collected from hundreds of thousands of consumer devices, per day to model, analyse, and predict user behaviours. While some of our algorithms run on resource constrained devices, others require large clusters on our cloud infrastructure. As data scientist you will investigate, discern, and interpret data sets to recognize user behaviour and predict trends.\nJob Responsibilities\nUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes\nWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.\nSelecting features, building and optimizing classifiers using machine learning and deep learning techniques\nCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems\nProcessing, cleansing, and verifying the integrity of data used for analysis\nDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.\nAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.\nJob Qualifications:\nMaster’s degree or PhD in Computer Science, Information management, Statistics or related field, with 10+ years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development\nExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.\nStrong hands on knowledge of ML techniques like regression algorithms, K- NN, Nave Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc\nHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep- Learning\nStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.\nDeep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit- learn or equivalent\nExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.\nProficiency in using query languages, such as SQL, PL/SQL\nHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nGood ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.\nA team player capable of working and integrating across cross- functional team for implementing project requirements. Experience in technical requirements gathering and documentation.\nAbility to work effectively and independently in a fast- paced global collaborative agile team environment with tight deadlines\nA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.\nA self- starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science',

In [61]:
le=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
le[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="e454823c-f9e9-45b3-99d0-d493608a1233")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="fdc220bc-96c6-420a-b23c-48f9e9912883")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="e9b18e3a-2f07-4f11-a485-5fe17be7369e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="084eeaa5-c312-4a28-b717-a5b612be79cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="c56fdbdb-1707-493f-90e2-af45ab9895b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="a19c45b6-5d39-4d86-bd07-66d912014ff3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="1f8b47bf-6f1b-4f15-8713-5ca3ff2529c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="f2ccb2c9-d8a2-4e98-b50d-6047968d4172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="dfa4fd7a-a53c-45d3-b09b-78bc6a0d6dad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7192b19c4b89b4b1685f8d91a491741a", element="142b11eb-d0a1-4c48-8e96-7bb3e1ef6e74")>]

In [62]:
for i in le:
    ex=i.text
    location.append(ex)

location[0:10]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Delhi NCR, Bengaluru, Anywhere in India',
 'Bengaluru / Bangalore',
 'Bengaluru']

In [66]:
d=pd.DataFrame({"job":job[0:5],
                "location":location[0:5],
                "company":company[0:5],
                "description":description[0:5]})

In [67]:
d

,job,location,company,description
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,Dear Candidate\n\nSchedule a Telephonic Interv...
1,HCL hiring Data scientist with exp in machine ...,Bengaluru,HCL Technologies Limited,"Dear Candidate,\n\nGreetings from HCL!!!\nWe a..."
2,Data Scientist - Machine Learning,Bengaluru,AugmatrixGo,Roles and Responsibilities\n\n\n- Selecting fe...
3,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,no description
4,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,no description

In [68]:
driver.close()

#Q3: In this question you have to scrape data using the filters available on the webpage as shown below: 
 
 
You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results.

In [2]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [3]:
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6"

In [4]:
driver.get(url)

In [5]:
job=[]
company=[]
location=[]
experience=[]

In [6]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="83b06df6-f5b9-450f-b1fe-3f0516a3b0b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="9530ac2e-38ba-45ab-aaa7-f57592ace38d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="7988f34d-dab7-419b-a432-9657fc1d70c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="2022bcdd-5f35-48ca-9a29-d8a408607c91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="f17c7305-54ec-4a25-8cee-dabfc0e75982")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="2d38be64-70eb-4b42-9ff4-bdcbf0d46582")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="7c518061-6e1d-48ee-8e2c-b918cb5eae53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="9e458dda-07c2-44bc-a618-36d9ed740474")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="c073b58f-865c-43da-a731-22212aa8421a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="42a8b279-5992-4ed4-b8e1-0c0888151a8a")>]

In [7]:
for i in title:
    t=i.text
    job.append(t)
    
job[0:10]

['Data Scientist - Python/Machine Learning',
 'Tech Mahindra hiring For Data Scientist- Noida',
 'Data Scientist - Commercial Planning and Analysis',
 'Data Scientist',
 'Data Scientist - Machine Learning/ Artificial Intelligence - IT',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'Data Scientist',
 'Data Scientist Machine Learning',
 'Data Scientist',
 'Business Analyst - Data Scientist']

In [8]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="92dbdc71-8493-4f0a-93fd-8532012523a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="bfc72051-54c0-4f24-b59d-4c41e675feb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="5a5ad8d6-b161-420c-9507-63e1ee084442")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="74ad4f55-5f8f-47b5-9cc5-5553eb6b218b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="b8969d7d-3e05-4802-bf22-5028de93cc90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="94924d4a-10ef-4ea7-a791-4093ac2e9488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="13bb1c59-0930-4b74-b472-e83ba3159784")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="83edd827-ef80-49eb-b97b-0204889d5ab0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="e93dd09e-a77e-4d52-84ea-b3e50fb959a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="cdb4905f-44b4-40ec-a913-23b110b232ae")>]

In [9]:
for i in companies_tags:
    company_name=i.text
    company.append(company_name)

company[0:10]

['Jubna',
 'tech mahindra ltd',
 'Air Asia India Limited',
 'Amity University',
 'Talent Acceleration Corridor',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Delhivery',
 'Eighteen Pixels India Private Limited',
 'HyreFox Consultants Pvt Ltd']

In [10]:
e=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
e[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="1712572f-181a-40e4-bf4f-3e2798dbc127")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="d1aefc98-54e0-46ae-9379-e54a5defb6f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="d62e57b9-94ea-4491-9a19-cd0e52ae4a4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="bbb1cc23-72b9-481d-b381-3ad999205459")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="16a3d8d8-e340-4707-9a36-96473d117dfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="932a2caf-de10-42c4-86e8-ebf3aee38b30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="fde3f3f4-fbe3-4d73-8670-9639c5ffe644")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="ecc09059-29eb-40cf-bb4d-f3217ed607f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="fd8af17d-b04e-4f74-a6f6-90a23598ebcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="4a217aca-4259-4b0c-8c07-a70bc75d5572")>]

In [11]:
for i in e:
    ex=i.text
    experience.append(ex)

experience[0:10]

['5-8 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '6-8 Yrs',
 '6-11 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '3-5 Yrs']

In [12]:
l=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
l[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="13e9e913-a479-4c56-b999-291ae9adb135")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="c61bf177-e1fe-4c6d-a362-f4999d68523f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="1a757d57-6152-4895-a927-f934df27c33b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="d7556457-7e9c-402a-8292-7bd7922e0631")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="398370b2-d0c5-4d39-929c-775ac584b0ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="f42c71d3-84f4-4904-a8c1-126481a631da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="654daa99-b421-4952-acbb-46fed015c9f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="713be775-1d52-4d1a-af7b-246710a7b8a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="329f7d02-0983-433e-8250-b50a80c7f055")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0bfa75ee42b8dd3ca02d64c61273c07c", element="e8e391e4-a2f5-46e5-89cf-16827a4f7c94")>]

In [13]:
for i in l:
    ex=i.text
    location.append(ex)

location[0:10]

['Noida',
 'Noida',
 'Delhi NCR, Gurgaon',
 'Faridabad, Delhi NCR, Ghaziabad',
 'Delhi/NCR Delhi NCR, Noida',
 'Pune, Bengaluru, Gurgaon',
 'Gurgaon Gurugram',
 'Gurgaon',
 'Delhi NCR',
 'Gurgaon']

In [14]:
df=pd.DataFrame({"job":job[0:10],
                "location":location[0:10],
                "company":company[0:10],
                "experience":experience[0:10]})

In [15]:
df

,job,location,company,experience
0,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
1,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
2,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
3,Data Scientist,"Faridabad, Delhi NCR, Ghaziabad",Amity University,6-8 Yrs
4,Data Scientist - Machine Learning/ Artificial ...,"Delhi/NCR Delhi NCR, Noida",Talent Acceleration Corridor,6-11 Yrs
5,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
6,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,3-5 Yrs
7,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
8,Data Scientist,Delhi NCR,Eighteen Pixels India Private Limited,2-6 Yrs
9,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs

In [16]:
driver.close()

#Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [18]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [19]:
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [20]:
driver.get(url)

In [21]:
comp=[]
days_ago=[]
rating=[]

In [22]:
com=driver.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a")
com[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="6adb987a-e792-411e-a256-fe38bd9d15c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="8cce8234-83e7-4705-b9c1-e727a50b675b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="bf3258a1-e3e8-4109-b374-614de33558fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="897e4248-b741-447e-bf10-8e404fcb098d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="3ce3c332-ad29-4156-806f-66031493c514")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="e4dfd599-73ee-4f1c-b8ed-3a14a337208f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="44242c08-65e8-4e0e-9ffa-b740344516be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="3c018206-7085-4aa0-b126-b9fe564f23d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="0f42dd30-413a-48f4-abc3-33725e107a09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="2bda7804-43b8-4884-8b8a-02c31aedc3e6")>]

In [23]:
for i in com:
    ex=i.text
    comp.append(ex)

comp[0:10]

['QuantumIT',
 'Biz2Credit Inc',
 'Salasar New Age Technologies',
 'Techlive',
 'Emerging India Group',
 'Dürr Somac GmbH',
 'Salasar New Age Technologies',
 'Dürr AG',
 'SearchUrCollege',
 'WSD Consultant']

In [24]:
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="2b9fe4ba-6d1c-4db3-8dc4-b45386b01089")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="28221f7d-1950-47e8-bac3-45344b419d16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="d7fae6e5-ab70-45e1-a34c-316d2ec735d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="775a152e-3f15-4c41-be79-dd91fe84612b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="48b747c6-078f-4892-97e8-2cdb95827c47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="62cf8c30-191b-4b46-9fd1-279765144f22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="812d0fb4-df09-4706-b705-11f52b58e973")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="edac15f8-511a-442d-91b2-358af1c40cb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="f86d9465-ef5a-4c97-a404-488762933d47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="4b3bc4e5-7760-44a6-b5d3-3e0692d8a2fd")>]

In [25]:
for i in days:
    ex=i.text
    days_ago.append(ex)

days_ago[0:10]

['9d', '30d+', '30d+', '30d+', '20d', '30d+', '30d+', '30d+', '30d+', '30d+']

In [26]:
rate=driver.find_elements_by_xpath("//span[@class='compactStars ']")
rate[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="bd175d3a-dd84-4ce8-9c9d-89530e4d6c07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="034891d6-c55b-4f53-96fc-84ce6ec5c372")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="6b205231-8ff3-48f6-b70c-7cfe47093941")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="d5f72e0a-1a82-4c39-83b2-b4f4a5b67da0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="5ca904f4-36d6-478a-b665-0d768e634a95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="fc8e78d8-f8ff-451b-b405-eed230cd1e96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="ea1b81d2-b280-4b4b-889b-a3e1a5e03015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="28c7cb28-3d3a-4a88-8311-110d9c3758ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="5ad91815-ff37-4eda-9683-67bf66267567")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92bd6fbf63eb1820c5f8cb6cbde6a375", element="20564bc4-214b-4fcf-8c8f-ee667c4cce1e")>]

In [27]:
for i in rate:
    ex=i.text
    rating.append(ex)

rating[0:10]

['3.3', '3.7', '5', '3.6', '3.8', '4.4', '3.9', '3', '3.9', '4.2']

In [28]:
df=pd.DataFrame({"Company":comp[0:10],
                "Days ago posted":days_ago[0:10],
                "rating":rating[0:10],
                })

In [29]:
df

                        Company Days ago posted rating
0                     QuantumIT              9d    3.3
1                Biz2Credit Inc            30d+    3.7
2  Salasar New Age Technologies            30d+      5
3                      Techlive            30d+    3.6
4          Emerging India Group             20d    3.8
5               Dürr Somac GmbH            30d+    4.4
6  Salasar New Age Technologies            30d+    3.9
7                       Dürr AG            30d+      3
8               SearchUrCollege            30d+    3.9
9                WSD Consultant            30d+    4.2

In [30]:
driver.close()

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [9]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [10]:
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [11]:
driver.get(url)

In [23]:
company=[]
minimum=[]
maximum=[]
average=[]
number=[]

In [27]:
com=driver.find_elements_by_xpath("//p[@class='m-0 ']")
com[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="84022cf7-032b-4b97-b24d-3db00a5239c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="ca8abb16-4589-486b-9f7c-b470927d021d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="55d6082c-e41b-41e3-a14c-3f9fce5d0878")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="8eb37c23-4345-4702-a9b5-db140c6935fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="acbe11ec-2050-40a8-8504-353cafab0c7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="e8a5ef98-a859-4a23-99aa-d8bec90f9293")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="5613a789-fb7b-48c7-887e-1a9e04648406")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="429550d7-959c-4727-9c44-093170c80b8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="f28d6178-05fe-4d64-a939-bb1386089720")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="e641833f-408a-4603-b62d-6e751143dafd")>]

In [28]:
for i in com:
    ex=i.text
    company.append(ex)

company[0:10]

['Delhivery',
 'Accenture',
 'Ericsson-Worldwide',
 'Tata Consultancy Services',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'ZS Associates']

In [29]:
min=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
min[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="6f425c77-6d47-457b-947f-827b1b98168c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="576ba40e-8a0c-4e29-a524-03b004d747b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="e744740e-a7b4-4c58-ad0c-e3af2da1fe84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="11ce401d-93d6-43bc-8824-1a5f2858696e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="b01ff8b8-73c7-4c5d-8541-41f1e19803f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="c804fa75-b553-4e88-bc6b-a04a81c50c54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="bd835627-f848-4f62-a5d7-c83445480e46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="f38c88f8-beff-4f17-9661-d6ab62bbdff4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="dea6e6a9-fc8c-480c-91b4-82db22700022")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="f36984c6-2fb6-46a4-81c8-885b2df07177")>]

In [30]:
for i in min:
    ex=i.text
    minimum.append(ex)

minimum[0:10]

['₹456K',
 '₹585K',
 '₹420K',
 '₹336K',
 '₹595K',
 '₹727K',
 '₹509K',
 '₹629K',
 '₹804K',
 '₹205K']

In [31]:
max=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
max[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="e1fd1235-59e2-44f1-b7cb-de1fc039ea61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="ac378781-1451-42b6-be5c-6ebec2d30938")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="8768dbd8-eaa7-4486-b2fe-a170a047042a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="189a8bb1-6afb-4cb3-9be7-9503b553587b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="9567abcb-e2af-42f8-ad52-61d9c0c4ce30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="17fd1328-b915-4671-a3fd-f128e4234a17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="f9637c86-c48c-4aa5-87fa-7bc1f1d7a6b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="0afb555c-b486-4d59-b009-95d37aea1219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="8bb1eebd-4d18-4e6c-bb55-455fdc980ad1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="438fb886-36e6-452c-9317-89c36591f70f")>]

In [32]:
for i in max:
    ex=i.text
    maximum.append(ex)

maximum[0:10]

['₹11,789K',
 '₹2,200K',
 '₹1,636K',
 '₹1,024K',
 '₹2,769K',
 '₹1,597K',
 '₹1,168K',
 '₹1,719K',
 '₹1,281K',
 '₹1,835K']

In [33]:
av=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
av[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="4e67c248-1d7f-4868-b566-d85a7239f8fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="787912fd-966d-454d-a047-75b11b98ec89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="d4504eee-d333-4d36-b749-6601c74620e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="d7f55072-a606-4772-be79-6a55b138bef4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="60e67f74-3a95-4003-8d26-d77de69fbccf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="3c85e9e8-87ad-4cec-80c8-ea34fad8418a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="e2d8e0ed-d9c7-4f4c-b0b2-d76e39b232d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="7426bc88-bedb-4f39-9973-df980cc46cde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="baf6800f-8fe9-4191-b914-0ab38a47a91f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="775bf6d7-583f-4209-bb28-37ca12816ce8")>]

In [34]:
for i in av:
    ex=i.text
    average.append(ex)

average[0:10]

['₹ 12,81,419',
 '₹ 9,98,925',
 '₹ 7,90,026',
 '₹ 6,02,000',
 '₹ 7,71,657',
 '₹ 12,22,902',
 '₹ 7,91,015',
 '₹ 12,15,138',
 '₹ 10,21,889',
 '₹ 10,00,000']

In [35]:
no=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
no[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="ac080f03-84cf-46e4-b1bd-0ede52c6ebeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="8ab73227-fb0d-42ae-9f08-6f3a9d0e0404")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="39b5027d-e5af-43c7-9ab8-2288e0e40436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="6da13e3d-ad08-4358-b2b6-b6c417637bf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="33f123f3-5659-4c07-b7ae-3cd326307c47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="2c2d0adf-46dd-463d-9393-c4b7cb47dc98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="424d96d1-b09a-45b1-9d86-c4b101ea58b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="d5762d0f-2213-4240-9fe3-11c9aadeb1a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="a20a0f94-cab5-4432-8961-d1ab49e4ebfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2af70870369daf1b296227640c8a6a47", element="4ef98fc6-f09d-44cc-9f02-f802c34c7198")>]

In [36]:
for i in no:
    ex=i.text
    number.append(ex)

number[0:10]

['13 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries',
 '5 salaries']

In [37]:
df=pd.DataFrame({"Company":company[0:10],
                "minimum salary":minimum[0:10],
                "maximum salary":maximum[0:10],
                 "average salary":average[0:10],
                 "no of salaries":number[0:10]
                })

In [38]:
df

,Company,minimum salary,maximum salary,average salary,no of salaries
0,Delhivery,₹456K,"₹11,789K","₹ 12,81,419",13 salaries
1,Accenture,₹585K,"₹2,200K","₹ 9,98,925",10 salaries
2,Ericsson-Worldwide,₹420K,"₹1,636K","₹ 7,90,026",10 salaries
3,Tata Consultancy Services,₹336K,"₹1,024K","₹ 6,02,000",9 salaries
4,IBM,₹595K,"₹2,769K","₹ 7,71,657",9 salaries
5,UnitedHealth Group,₹727K,"₹1,597K","₹ 12,22,902",8 salaries
6,Valiance Solutions,₹509K,"₹1,168K","₹ 7,91,015",8 salaries
7,Innovaccer,₹629K,"₹1,719K","₹ 12,15,138",7 salaries
8,Cognizant Technology Solutions,₹804K,"₹1,281K","₹ 10,21,889",6 salaries
9,ZS Associates,₹205K,"₹1,835K","₹ 10,00,000",5 salaries

In [41]:
driver.close()

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand 2. Product Description 3. Price 4. Discount %

In [2]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [3]:
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [4]:
driver.get(url)

In [5]:
url=[]
page_buttons=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
for i in page_buttons:
    url.append(i.get_attribute('href'))

In [6]:
url

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [7]:
brand=[]
for i in url[0:3]:
    driver.get(i)
    brands=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for j in brands:
    brand.append(j)

In [8]:
br=[]
for i in brand:
    br.append(i.text)

br

['Mirrored Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (57)',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'Gradient, UV Protection Retro Square Sunglasses (57)',
 'UV Protection, Mirrored, Gradient Retro Square Sunglass...',
 'Gradient Rectangular Sunglasses (56)',
 'Gradient Spectacle Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'Gradient, Mirrored, UV Protection Aviator Sunglasses (5...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (54)',
 'Polarized, Night Vision, Riding Glasses, Mirrored, UV P...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Mirrored, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Rectangular Sunglasses (53)',
 'Polarized Sports Sunglasses (21)',
 'UV Protection Rectangular Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)']

In [9]:
pr=[]
for i in url[0:3]:
    driver.get(i)
    prod=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for j in prod:
    pr.append(j)

In [10]:
product=[]
for i in pr:
    product.append(i.text)

product

['Rich Club',
 'MAXX',
 'ROZZETTA CRAFT',
 'United Colors of Benetton',
 'Silver Kartz',
 'Aislin',
 'STYLISH GUYS',
 'kingsunglasses',
 'REYDA basic',
 'United Colors of Benetton',
 'Riffko',
 'Creative Group',
 'MGKNYAH',
 'United Colors of Benetton',
 'JOHAENA',
 'Scaglia',
 'Fastrack',
 'shah collections',
 'winsome',
 'United Colors of Benetton',
 'Trend',
 'REYDA BASIC',
 'Gansta',
 'Rozdeal',
 'Scaglia',
 'PIRASO',
 'Phenomenal',
 'NuVew',
 'Fastrack',
 'United Colors of Benetton',
 'Yumato',
 'INSH',
 'shah collections',
 'United Colors of Benetton',
 'Royal Son',
 'shah collections',
 'Fastrack',
 'Dannilo',
 'Fastrack',
 'United Colors of Benetton']

In [11]:
pric=[]
for i in url[0:3]:
    driver.get(i)
    rate=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for j in rate:
    pric.append(j)

In [13]:
price=[]
for i in pric:
    price.append(i.text)

price

['₹156',
 '₹214',
 '₹152',
 '₹1,841',
 '₹199',
 '₹168',
 '₹403',
 '₹233',
 '₹475',
 '₹1,944',
 '₹789',
 '₹160',
 '₹149',
 '₹2,020',
 '₹198',
 '₹245',
 '₹152',
 '₹172',
 '₹150',
 '₹2,020',
 '₹799',
 '₹209',
 '₹126',
 '₹749',
 '₹166',
 '₹119',
 '₹269',
 '₹175',
 '₹224',
 '₹2,020',
 '₹249',
 '₹396',
 '₹759',
 '₹2,315',
 '₹499',
 '₹294',
 '₹331',
 '₹399',
 '₹340',
 '₹2,004']

In [14]:
dis=[]
for i in url[0:3]:
    driver.get(i)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for j in disc:
    dis.append(j)

In [15]:
discount=[]
for i in dis:
    discount.append(i.text)

discount

['87% off',
 '85% off',
 '69% off',
 '52% off',
 '75% off',
 '71% off',
 '79% off',
 '84% off',
 '68% off',
 '50% off',
 '77% off',
 '85% off',
 '85% off',
 '50% off',
 '80% off',
 '87% off',
 '74% off',
 '86% off',
 '69% off',
 '81% off',
 '87% off',
 '74% off',
 '49% off',
 '44% off',
 '85% off',
 '86% off',
 '70% off',
 '85% off',
 '50% off',
 '75% off',
 '68% off',
 '15% off',
 '50% off',
 '62% off',
 '85% off',
 '80% off',
 '73% off',
 '79% off',
 '49% off']

In [17]:
df=pd.DataFrame({"Brand":product[0:10],
                "Description":br[0:10],
                "Price":price[0:10],
                 "Discount":discount[0:10]
                  })
df

,Brand,Description,Price,Discount
0,Rich Club,Mirrored Round Sunglasses (53),₹156,87% off
1,MAXX,UV Protection Retro Square Sunglasses (57),₹214,85% off
2,ROZZETTA CRAFT,"UV Protection, Mirrored, Gradient Round Sungla...",₹152,69% off
3,United Colors of Benetton,UV Protection Aviator Sunglasses (Free Size),"₹1,841",52% off
4,Silver Kartz,"UV Protection, Gradient Round Sunglasses (Free...",₹199,75% off
5,Aislin,UV Protection Wayfarer Sunglasses (Free Size),₹168,71% off
6,STYLISH GUYS,"UV Protection, Gradient Oval Sunglasses (58)",₹403,79% off
7,kingsunglasses,"Gradient, UV Protection Retro Square Sunglasse...",₹233,84% off
8,REYDA basic,"UV Protection, Mirrored, Gradient Retro Square...",₹475,68% off
9,United Colors of Benetton,Gradient Rectangular Sunglasses (56),"₹1,944",50% off

In [24]:
driver.close()

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [2]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [3]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART"

In [4]:
driver.get(url)

In [5]:
rating=[]
review=[]
full_review=[]

In [6]:
url=[]
page_buttons=driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in page_buttons[1:10]:
    url.append(i.get_attribute('href'))
url

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=10']

In [7]:
for i in url:
    text=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [11]:
rating=[]
for i in text:
    rating.append(i.text)

rating

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [12]:
for i in url:
    tx=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [13]:
review=[]
for i in tx:
    review.append(i.text)
    
review

['Perfect product!',
 'Great product',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Worth every penny',
 'Wonderful',
 'Nice product',
 'Perfect product!']

In [14]:
for i in url:
    t=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [15]:
full_review=[]
for i in t:
    full_review.append(i.text)
    
full_review

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it."]

In [17]:
df=pd.DataFrame({"Review":review[0:10],
                "rating":rating[0:10],
                "Full Review":full_review[0:10]
                  })
df

,Review,rating,Full Review
0,Perfect product!,5,Amazing phone with great cameras and better ba...
1,Great product,5,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,Highly recommended,5,iphone 11 is a very good phone to buy only if ...
3,Perfect product!,5,It’s a must buy who is looking for an upgrade ...
4,Perfect product!,5,Value for money❤️❤️\nIts awesome mobile phone ...
5,Worth every penny,5,Best budget Iphone till date ❤️ go for it guys...
6,Worth every penny,5,It’s been almost a month since I have been usi...
7,Wonderful,5,*Review after 10 months of usage*\nDoesn't see...
8,Nice product,4,Awesome Phone. Slightly high price but worth. ...
9,Perfect product!,5,Iphone is just awesome.. battery backup is ver...

In [17]:
driver.close()

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [2]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [3]:
url="https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2d371462-17ed-4781-adc5-e777f0b1feb9&as-searchtext=snee"

In [4]:
driver.get(url)

In [5]:
ur=[]
page_buttons=driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in page_buttons:
    ur.append(i.get_attribute('href'))

In [6]:
ur

['https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2d371462-17ed-4781-adc5-e777f0b1feb9&as-searchtext=snee&page=2',
 'https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2d371462-17ed-4781-adc5-e777f0b1feb9&as-searchtext=snee&page=3',
 'https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2d371462-17ed-4781-adc5-e777f0b1feb9&as-searchtext=snee&page=4',
 'https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2d371462-17ed-4781-adc5-e777f0b1feb9&as-searchtext=snee&page=5',
 'https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2d371462-17ed-4781-adc5-e777f0b1feb9&as-searchtext=snee&page=6',
 'https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2d371462-17ed-4781-adc5-e777f0b1feb9&as-searchtext=snee&page=7',
 'https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2d371462-17ed-4781-adc5-e777f0b1feb9&as-searchtext=snee&page=8',
 'https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2d371462-17ed-4781-adc5-e777f0b1feb9&as-searchtext=snee&page=9',
 'https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=2d371462-17ed-4781-adc5-e777f0b1feb9&as-searchtext=snee&page=10']

In [7]:
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [8]:
brand=[]

for i in ur[0:3]:
    driver.get(i)
    brands=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for j in brands:
    brand.append(j.text)

In [9]:
brand

['Aura',
 'World Wear Footwear',
 'DIGITRENDZZ',
 'BRUTON',
 'ADIDAS',
 'LuvShus',
 'Chevit',
 'spade club',
 'World Wear Footwear',
 'BRUTON',
 'MOU',
 'Birde',
 'Essence',
 'Airland',
 'Chevit',
 'ADIDAS',
 'Oricum',
 'My Walk G',
 'Modern Fashion Shoes',
 'Stinson',
 'Zsyto',
 'ADIDAS',
 'PERY-PAO',
 'Fzzirok',
 'KNIGHT WALKERS',
 'Rockfield',
 'World Wear Footwear',
 'Edoeviv',
 'BRUTON',
 'REWARM',
 'Puma',
 'Jokatoo',
 'M K FOOTWEAR',
 'Swiggy',
 'BUCIK',
 'Rockfield',
 'Labbin',
 'Clymb',
 'GANPATI TRADERS',
 'Stinson']

In [10]:
description=[]
for i in ur[0:3]:
    driver.get(i)
    des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for j in des:
    description.append(j.text)    

description

['Casual Lace-Up Shoes First time in india extra light we...',
 'Men-1227 Casual Loafer Sneakers Shoes Sneakers For Men',
 'SM-162 Sneakers For Men',
 'Combo Pack Of 4 Canvas Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'EASY VULC 2.0 Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Men Sports Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Combo Pack of 02 Trendy Casuals Sneakers Fo...',
 'shoes For Mens Combo(MR)-1635-1621 ( Multicolor-Pack of...',
 'EASY VULC 2.0 Sneakers For Men',
 'Adiset M Sneakers For Men',
 'Combo Pack Of 3 Sneakers For Men',
 'Grey Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 "Men's CASUAL Shoes Fashion Breathable Sneakers Sneakers...",
 'Smash L Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Loafers, Sneakers Shoes for Men Pack of 5 Combo(...',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Partywear Sn...',
 'EXPLORE Sneakers For Men',
 'Sneakers For Men']

In [11]:
price=[]
for i in ur[0:3]:
    driver.get(i)
    rate=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for j in rate:
    price.append(j.text)    

price

['₹498',
 '₹240',
 '₹779',
 '₹499',
 '₹299',
 '₹658',
 '₹1,747',
 '₹380',
 '₹499',
 '₹379',
 '₹499',
 '₹499',
 '₹498',
 '₹298',
 '₹1,759',
 '₹389',
 '₹379',
 '₹349',
 '₹2,123',
 '₹699',
 '₹401',
 '₹344',
 '₹678',
 '₹420',
 '₹529',
 '₹499',
 '₹417',
 '₹759',
 '₹525',
 '₹399',
 '₹2,249',
 '₹423',
 '₹599',
 '₹759',
 '₹289',
 '₹199',
 '₹479',
 '₹399',
 '₹1,661',
 '₹299']

In [12]:
discount=[]
for i in ur[0:3]:
    driver.get(i)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for j in disc:
    discount.append(j.text)

In [13]:
discount

['50% off',
 '51% off',
 '17% off',
 '85% off',
 '70% off',
 '34% off',
 '54% off',
 '61% off',
 '50% off',
 '70% off',
 '50% off',
 '68% off',
 '50% off',
 '40% off',
 '56% off',
 '61% off',
 '62% off',
 '76% off',
 '41% off',
 '53% off',
 '59% off',
 '73% off',
 '15% off',
 '57% off',
 '47% off',
 '37% off',
 '58% off',
 '81% off',
 '47% off',
 '60% off',
 '50% off',
 '71% off',
 '70% off',
 '69% off',
 '42% off',
 '60% off',
 '52% off',
 '60% off',
 '12% off',
 '40% off']

In [14]:
df=pd.DataFrame({"Brand":brand[0:10],
                "Description":description[0:10],
                "Price":price[0:10],
                 "Discount":discount[0:10]
                  })
df

,Brand,Description,Price,Discount
0,Aura,Casual Lace-Up Shoes First time in india extra...,₹498,50% off
1,World Wear Footwear,Men-1227 Casual Loafer Sneakers Shoes Sneakers...,₹240,51% off
2,DIGITRENDZZ,SM-162 Sneakers For Men,₹779,17% off
3,BRUTON,Combo Pack Of 4 Canvas Sneakers For Men,₹499,85% off
4,ADIDAS,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹299,70% off
5,LuvShus,EASY VULC 2.0 Sneakers For Men,₹658,34% off
6,Chevit,Combo Pack of 2 Casual Shoes Sneakers For Men,"₹1,747",54% off
7,spade club,Men Sports Sneakers For Men,₹380,61% off
8,World Wear Footwear,Sneakers For Men,₹499,50% off
9,BRUTON,Lightweight Combo Pack of 02 Trendy Casuals Sn...,₹379,70% off

In [15]:
driver.close()

# Q9: Go to the link - https://www.myntra.com/shoes  Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [17]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [18]:
url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0"

In [19]:
driver.get(url)

In [22]:
ur=[]
page_buttons=driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in page_buttons:
    ur.append(i.get_attribute('href'))

In [23]:
ur

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0&p=5',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0&p=6',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0&p=7',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0&p=8',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0&p=9',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0&p=10']

In [24]:
brand=[]

for i in ur[0:3]:
    driver.get(i)
    brands=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for j in brands:
    brand.append(j.text) 
   
    
    
brand

['FILA',
 'CHARLES & KEITH',
 'CHARLES & KEITH',
 'CHARLES & KEITH',
 'CHARLES & KEITH',
 'CHARLES & KEITH',
 'CHARLES & KEITH',
 'CHARLES & KEITH',
 'CHARLES & KEITH',
 'CHARLES & KEITH',
 'DOROTHY PERKINS',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Metro',
 'Ruosh',
 'Ruosh',
 'Tommy Hilfiger',
 'Florsheim',
 'Heel & Buckle London',
 'Vanilla Moon',
 'Vanilla Moon',
 'Birkenstock',
 'Birkenstock',
 'Kenneth Cole',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'J.FONTINI',
 'DAVINCHI',
 'J.FONTINI',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'Heel & Buckle London',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'Ruosh',
 'Kenneth Cole',
 'Kenneth Cole',
 'Kenneth Cole',
 'Kenneth Cole',
 'Kenneth Cole',
 'Saint G',
 'Kenneth Cole',
 'Kenneth Cole',
 'Nike']

In [25]:
description=[]

for i in ur[0:3]:
    driver.get(i)
    des=driver.find_elements_by_xpath("//h4[@class='product-product']")
for j in des:
    description.append(j.text) 
   
    
    
description

['Women Sneakers',
 'Women Heels',
 'Women Sandals',
 'Women Heels',
 'Women Sandals',
 'Women Heels',
 'Women Peep Toes',
 'Women Pumps',
 'Women Sandals',
 'Women Sandals',
 'Women Embellished Heeled Boots',
 'Charged RC Sportstyle Sneakers',
 'Women Charged Breathe OIL SLK',
 'Men Solid Leather Formal Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Solid Leather Formal Monks',
 'Women Leather Loafers',
 'Men Solid Leather Formal Loafers',
 'Men Leather Formal Loafers',
 'Women Leather Open Toe Flats',
 'Women Open Toe Flats',
 'Women Open Toe Flats',
 'Women Open Toe Flats',
 'Men Striped Sneakers',
 'Ustraa black',
 'Formal Leather Loafers',
 'Solid Leather Formal Shoes',
 'Solid Slip On Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'DAVINCHI',
 'Men Solid Leather Formal Slip-Ons',
 'DAVINCHI',
 'Men Textured Formal Leather Slip-On Shoes',
 'Men Textured Leather Formal Loafers',
 'Men Solid Leather Formal Loafers',
 'Men Solid Leather Formal Monk Shoes',
 'Men Solid Formal Leather Loafers',
 'Men Textured Formal Leather Oxfords',
 'Men Solid Leather Formal Derbys',
 'Men Solid Formal Leather Slip-On Shoes',
 'Men Leather Formal Brogues',
 'Women Heels',
 'Women Leather Pumps',
 'Men Solid Leather Formal Loafers',
 'Women Printed Sneakers',
 'Men Leather Sneakers',
 'Women Leather Sneakers',
 'Men Formal Derbys',
 'Men Formal Derbys',
 'Men Zoom Running Shoes']

In [28]:
price=[]

for i in ur[0:3]:
    driver.get(i)
    pr=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
for j in pr:
    price.append(j.text) 
   
    
    
price

['Rs. 6839',
 'Rs. 8792',
 'Rs. 7413',
 'Rs. 7400',
 'Rs. 10213',
 'Rs. 10493',
 'Rs. 7794',
 'Rs. 7343',
 'Rs. 6993',
 'Rs. 7413',
 'Rs. 7413',
 'Rs. 6399']

In [29]:
df=pd.DataFrame({"Brand":brand[0:10],
                "Description":description[0:10],
                "Price":price[0:10]
                
                  })
df

             Brand      Description      Price
0             FILA   Women Sneakers   Rs. 6839
1  CHARLES & KEITH      Women Heels   Rs. 8792
2  CHARLES & KEITH    Women Sandals   Rs. 7413
3  CHARLES & KEITH      Women Heels   Rs. 7400
4  CHARLES & KEITH    Women Sandals  Rs. 10213
5  CHARLES & KEITH      Women Heels  Rs. 10493
6  CHARLES & KEITH  Women Peep Toes   Rs. 7794
7  CHARLES & KEITH      Women Pumps   Rs. 7343
8  CHARLES & KEITH    Women Sandals   Rs. 6993
9  CHARLES & KEITH    Women Sandals   Rs. 7413

In [30]:
driver.close()

# Q10:  Go to webpage https://www.amazon.in/

In [19]:
driver=webdriver.Chrome(r'C:\Users\MARJAN\Desktop\chromedriver.exe')

In [20]:
url="https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611386299&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17"

In [21]:
driver.get(url)

In [22]:
title=[]
rating=[]
price=[]

In [23]:
ti=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
ti[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="35899eec-5860-4846-a5d0-72a5f185056f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="cd364295-de03-4786-b465-475c1dd244a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="c7b2c3f6-8940-4366-b825-0d4393ff28f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="e1dcc3e7-ee25-4dfd-8cfd-ea441477f185")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="8a4b6aa2-86ed-4c69-86c1-f6fa4db91ccd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="c0483f1f-6a6c-4719-a869-344b22945765")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="accd0bfa-2d1f-451c-8539-7b565219d293")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="4fb7e1eb-0bea-4279-ba15-0c86fd7b7a0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="d87f3a7d-f9fc-44d3-bf84-33f7bc13b7a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="fef0fad1-d554-4c6d-9a5a-d69e40640dfd")>]

In [24]:
for i in ti:
    ex=i.text
    title.append(ex)

title[0:10]

['Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 '(Renewed) HP Probook Laptop 430G3 Intel Core i7 - 6500u Processor, 24 GB Ram & 128 GB SSD, Win10, 13.3 Inches 1.55 KG Ultralight Computer',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/16GB/1 TB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/8GB(Up to 16)/500 GB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/16GB/500 GB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/8GB/1TB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 '(Renewed) Dell Latitude E5570 15-inch Laptop (Core i7 6th Gen/16GB/500 GB HDD/Windows 10/MS Office Pro 2019/AMD Graphics), Black',
 'Lenovo Yoga S740 Intel Core i7 10th Gen 14 inch UHD Ultra Thin and Light Laptop (16GB/1TB SSD/Windows/Office/NVIDIA MX250 2GB/Iron Grey/1.4Kg), 81RS00B0IN',
 '(Renewed) ASUS ROG Strix G G531GT-AL018T 15.6" FHD 120Hz Gaming Laptop GTX 1650 4GB Graphics (Core™ i7-9750H 9th Gen/16GB RAM/512GB NVMe SSD/Windows 10/2.40 Kg), Black']

In [25]:
ra=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
ra[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="fbf4b3e9-e0eb-4a90-b26a-31b4adcec94b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="92a4e61d-c9aa-40f6-b29f-c9b920d47e62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="f2fae2ab-59c7-4789-8529-8c929077dc25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="6b4c6f3a-b543-48da-8d8c-1b74c2ed5e4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="596a547b-9cc0-44e6-8e54-daaf26e1db08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="9b863f60-b75b-4ecc-9551-b730c75e7783")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="5343643e-8979-4ea0-80ba-9f908c6c7035")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="146ab146-9ef7-4049-a7dd-efd1727b52d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="2bf6df62-bf09-433e-b792-80a7ed714238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="4997620d-fb82-408d-8730-6d9ad1ac7902")>]

In [27]:
for i in ra:
    rating.append(i.text)

rating[0:10]

['', '', '', '', '', '', '', '', '', '']

In [28]:
pr=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
pr[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="ea2cafcf-ee71-4d34-80de-fc93c5a7d1bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="b1516500-9411-4de3-8061-476844ca70fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="b270fd1a-652b-425c-8c5d-825d44500682")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="65e7ccb1-41a3-4325-9d8c-500e3a023e8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="01dcca79-645c-4759-b255-c58e41760da6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="d29f58b9-2295-431d-9bad-bd796b6f9fb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="8c6c6952-c544-48c3-8361-e9188930e799")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="5f72a9e7-cbf5-46bf-a166-11aae7f6329f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="66b32921-dc57-420f-885f-83c87e065198")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9058f78e4090dafe8ae9ec330c977d3f", element="37a0995b-d6a7-44cb-b9ea-dd2205ba3da5")>]

In [29]:
for i in pr:
    ex=i.text
    price.append(ex)

price[0:10]

['57,999',
 '60,990',
 '55,299',
 '52,699',
 '54,399',
 '45,000',
 '51,999',
 '63,499',
 '97,700',
 '69,990']

In [30]:
df=pd.DataFrame({"Title":title[0:10],
                "Rating":rating[0:10],
                "Price":price[0:10]
                })

In [31]:
df

                                               Title Rating   Price
0  Mi Notebook Horizon Edition 14 Intel Core i7-1...         57,999
1  (Renewed) HP Probook Laptop 430G3 Intel Core i...         60,990
2  (Renewed) Dell Latitude E7470 14-inch Laptop (...         55,299
3  (Renewed) Dell Latitude E7470 14-inch Laptop (...         52,699
4  (Renewed) Dell Latitude E7470 14-inch Laptop (...         54,399
5  (Renewed) Dell Latitude E6420 14 Inch Laptop (...         45,000
6  Mi Notebook Horizon Edition 14 Intel Core i5-1...         51,999
7  (Renewed) Dell Latitude E5570 15-inch Laptop (...         63,499
8  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...         97,700
9  (Renewed) ASUS ROG Strix G G531GT-AL018T 15.6"...         69,990